<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-list-wrapper">
            <div class="mb-1" style="color: #e04141; font-weight: 600; font-size: 20px">
                Edición múltiple
            </div>
            <div class="card container">
                <div class="row">
                    <div class="col-4">
                        <h2>Sección Filtros</h2>
                    </div>
                </div>
                <hr>
                <!--Filtros estado,fechaEntrega, formaPago, localidad, provincia-->
                <h4>NUMERO REMITO</h4>
                <div class="row">
                    <div class="col-4">
                        <label for="searchValue">Remito </label>

                        <input [(ngModel)]="nroRemito" name="nroRemito" type="search" class="form-control"
                            placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-4">
                        <br>
                        <button class="btn btn-outline-secondary" (click)="limpiarFiltros()">Limpiar filtros</button>
                    </div>
                </div>
                <br>
                <h4>FECHAS</h4>
                <div class="row">
                    <div class="col-2">
                        <label for="fechaDesde">Fecha Ingreso Desde</label>
                        <input [(ngModel)]="fechaIngresoDesde" id="first-name-vertical" class="form-control"
                            name="fechaIngresoDesde" type="date" (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="fechaHasta">Fecha Ingreso Hasta</label>
                        <input [(ngModel)]="fechaIngresoHasta" id="first-name-vertical" class="form-control"
                            name="fechaIngresoHasta" type="date" (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">
                            <input class="custom-control-input" type="checkbox" id="inlineCheckbox1"
                                [(ngModel)]="porFechaEntrega" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox1">Por fecha Entrega</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <label for="fechaDesde">Fecha Entrega Desde</label>
                        <input [(ngModel)]="fechaEntregaDesde" id="first-name-vertical" class="form-control"
                            name="fechaDesde" type="date" (keyup)="filterUpdate($event)"
                            (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="fechaHasta">Fecha Entrega Hasta</label>
                        <input [(ngModel)]="fechaEntregaHasta" id="first-name-vertical" class="form-control"
                            name="fechaHasta" type="date" (keyup)="filterUpdate($event)"
                            (change)="filterUpdate($event)" />
                        <br>
                    </div>
                </div>
                <h4>PROVEEDORES Y CLIENTES</h4>
                <div class="row">
                    <div class="col-2">
                        <label for="searchValue"> Proveedor </label>
                        <select id="cboProveedor" name="cboProveedor" class="form-control mx-25" [(ngModel)]="proveedor"
                            (change)="filterUpdate($event)">
                            <option value="">Todos</option>
                            <option *ngFor="let est of proveedores" [value]="est.id">{{est.nombre}}</option>
                        </select>
                        <!--<input [(ngModel)]="nombreProveedor" name="searchValue" type="search" class="form-control" placeholder="Buscar..." (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />-->
                    </div>
                    <div class="col-2">
                        <label for="searchValue"> Vehiculo </label>
                        <input [(ngModel)]="nombreVehiculo" name="nombreVehiculo" type="search" class="form-control"
                            placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="searchValue"> Chofer </label>
                        <input [(ngModel)]="nombreChofer" name="nombreChofer" type="search" class="form-control"
                            placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="cboCliente"> Cliente </label>
                        <select id="cboCliente" name="cboCliente" class="form-control mx-25" [(ngModel)]="cliente"
                            (change)="filterUpdate($event)">
                            <option value="">Todos</option>
                            <option *ngFor="let est of clientes" [value]="est.id">{{est.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="searchValue"> Destinatario </label>
                        <input [(ngModel)]="nombreDestinatario" name="nombreDestinatario" type="search"
                            class="form-control" placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="searchValue"> Remitente </label>
                        <input [(ngModel)]="nombreRemitente" name="nombreRemitente" type="search" class="form-control"
                            placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <h4>GEOGRAFIA</h4>
                    </div>
                    <div class="col-4">
                        <h4>ESTADO Y FORMA DE PAGO</h4>
                    </div>
                    <div class="col-4">
                        <h4>REUBICADO Y CONFORMADO</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="searchValue"> Provincia </label>
                        <input [(ngModel)]="provincia" name="searchValue" type="search" class="form-control"
                            placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="searchValue"> Localidad </label>
                        <input [(ngModel)]="localidad" name="searchValue" type="search" class="form-control"
                            placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <div class=" align-items-center">
                            <label for="cboEstado">Estado
                            </label>
                            <select id="cboEstado" name="cboEstado" class="form-control mx-25" [(ngModel)]="estado"
                                (change)="onChangeEstadoFilter($event)">
                                <option *ngFor="let est of estados" [value]="est.id">{{est.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="">
                            <label for="cboForma" class="d-flex align-items-center">Formas de pago</label>
                            <select id="cboForma" name="cboForma" class="form-control mx-25" [(ngModel)]="formaPago"
                                (change)="filterUpdate($event)">
                                <option value="">Todas</option>
                                <option *ngFor="let prov of formas" [value]="prov.id">{{prov.nombre}}</option>
                            </select>
                            <br>
                        </div>
                    </div>
                    <div class="col-1 ">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" id="inlineCheckbox2" [(ngModel)]="todos"
                                (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox2">Todos</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" id="inlineCheckbox3"
                                [(ngModel)]="reubicado" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox3">Reubicado</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" id="inlineCheckbox4"
                                [(ngModel)]="confirmado" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox4">Conf.</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" id="inlineCheckbox5"
                                [(ngModel)]="facturar" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox5">Fact.</label>
                        </div>
                    </div>

                </div>
                
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h3>Sección edición</h3>
                    </div>
                </div>
                <div class="my-1 row d-flex justify-content-start px-1">
                    <div class="col-2">
                        <div>
                            <a (click)="seleccionarTodos()" class="btn btn-outline-secondary" rippleEffect>Seleccionar
                                todos</a>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>
                            <a (click)="quitarTodos()" class="btn btn-outline-secondary" rippleEffect>Quitar
                                todos</a>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <label class="d-flex align-items-center">Mostrar
                                    <select class="form-control mx-25" [(ngModel)]="page.size"
                                        (change)="onPageSizeChange()">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <span>Remitos seleccionados {{cantidadSeleccionados()}}</span>
                    </div>
                    <div class="col-2">
                        <a (click)="exportarXLSX()" class="btn btn-outline-secondary float-right" rippleEffect>Exportar
                            remitos selecionados</a>
                    </div>
                </div>
                <div class="my-1 row d-flex justify-content-start px-1">

                    <div class="col-3">
                        <label for="estado">Nuevo Estado </label>
                        <select id="cboEstado" name="cboEstado" class="form-control mx-25" [(ngModel)]="selectedEstado"
                            (change)="onChangeEstado()">
                            <option value="">Vacio</option>
                            <option *ngFor="let est of estados" [value]="est.id">{{est.nombre}}</option>
                            <option value="conformado">Conformado</option>
                            <option value="conformadoentregado">Conf y entregado</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <div>
                            <br>
                            <a (click)="guardarNuevoEstado()" class="btn btn-outline-secondary" rippleEffect>Guardar
                                nuevo estado</a>
                        </div>
                    </div>

                </div>
                <div class="my-1 row d-flex justify-content-start px-1">
                    
                    <div class="col-3">
                        <button class="btn btn-outline-secondary " rippleEffect (click)="verPrimeraParte()">
                            <span>Ingreso</span>
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-secondary " rippleEffect (click)="verSegundaParte()">
                            <span>Egreso</span>
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-secondary " rippleEffect (click)="verTerceraParte()">
                            <span>Tarifas</span>
                        </button>
                    </div>
                    <div class="col-3">
                        <div>
                            <a *ngIf="terceraparte" (click)="guardarNuevasTarifas()" class="btn btn-primary"
                                rippleEffect>
                                Modificar Tarifas
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="terceraparte" class="row px-1 mb-2">

                    <div class="col-3 mt-2">
                        <div>

                            <select id="calcTotal" name="calcTotal" class="form-control" [(ngModel)]="opcionCalcular"
                                (change)="onChangeOption($event)">
                                <option *ngFor="let op of listaOpciones" [value]="op.id">{{op.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="terceraparte" class="row mb-1">
                    <div class="col-2 ml-5">
                        <label for="etiqueta">Total</label>
                        <input (input)="multipleInput('TOTAL')" class="form-control" id="totalgeneral"
                            name="totalgeneral" [(ngModel)]="totalgeneral" />
                    </div>
                    <div class="col-1">
                        <label for="etiqueta">Porcentaje</label>
                        <input (input)="multipleInput('PORC')" class="form-control" id="porcgeneral" name="porcgeneral"
                            [(ngModel)]="porcgeneral" />
                    </div>
                    <div class="col-1 offset-2">
                        <label for="etiqueta">Unidad</label>
                        <input (input)="multipleInput('UNIDAD')" class="form-control" id="unidadgeneral"
                            name="unidadgeneral" [(ngModel)]="unidadgeneral" />
                    </div>
                    <div class="col-1 ml-5">
                        <label for="etiqueta">Kg</label>
                        <input (input)="multipleInput('KG')" class="form-control" id="kggeneral" name="kggeneral"
                            [(ngModel)]="kggeneral" />
                    </div>
                    <div class="col-1 offset-1">
                        <label for="etiqueta">Bultos</label>
                        <input (input)="multipleInput('BULT')" class="form-control" id="bultosgeneral"
                            name="bultosgeneral" [(ngModel)]="bultosgeneral" />
                    </div>

                </div>
                <div *ngIf="primeraparte">
                    <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap"
                        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
                        [limit]="page.size" [externalPaging]="true" [count]="page.count" [offset]="page.offset"
                        (page)="onPage($event)">
                        <ngx-datatable-column name="Elegir" [width]="70" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false">

                            <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-row="row"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [checked]="isSelected(row)"
                                        (change)="onCheckboxChange(row)" id="rowChkbxRef{{ row.id }}" />

                                    <label class="custom-control-label" for="rowChkbxRef{{ row.id }}"></label>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha ingreso" prop="fechaIngreso" [width]="110">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Fecha</span>
                                    <br />
                                    <span style="white-space: nowrap">ingreso</span>
                                </div>
                            </ng-template>
                            <ng-template let-fechaIngreso="value" ngx-datatable-cell-template>
                                <div>
                                    {{ fechaIngreso | date : "dd/MM/yyyy" }}

                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Cliente" prop="expand.cliente.nombre" [width]="110">
                            <ng-template let-row="row" ngx-datatable-cell-template>

                                <div>
                                    {{ row.expand?.cliente?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="RTO" prop="nroRemito" [width]="110">
                            <ng-template let-nroRemito="value" ngx-datatable-cell-template>
                                <div>
                                    {{ nroRemito }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="estado" prop="expand.estado.nombre" [width]="100">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="badge badge-pill" [ngClass]="{
                                      'badge-light-warning':
                                        row.expand?.estado?.nombre == 'Pendiente',
                                      'badge-blue': row.expand?.estado?.nombre == 'Tránsito',
                                      'badge-light-danger':
                                        row.expand?.estado?.nombre == 'Rechazado',
                                      'badge-danger': row.expand?.estado?.nombre == 'Cancelado',
                                'badge-danger': row.expand?.estado?.nombre == 'Anulado',
                                      'badge-light-success':
                                        row.expand?.estado?.nombre == 'Entregado'
                                    }">
                                    {{ row.expand?.estado?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Conf." prop="confirmado" [width]="60" [sortable]="false">
                            <ng-template let-confirmado="value" ngx-datatable-cell-template>
                                <div>
                                    {{ confirmado ? "Sí" : "No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Reub." prop="reubicado" [width]="60" [sortable]="false">
                            <ng-template let-reubicado="value" ngx-datatable-cell-template>
                                <div>
                                    {{ reubicado ? "Sí" : "No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div *ngIf="segundaparte">
                    <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap"
                        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
                        [limit]="page.size" [externalPaging]="true" [count]="page.count" [offset]="page.offset"
                        (page)="onPage($event)">
                        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false">

                            <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-row="row"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [checked]="isSelected(row)"
                                        (change)="onCheckboxChange(row)" id="rowChkbxRef{{ row.id }}" />

                                    <label class="custom-control-label" for="rowChkbxRef{{ row.id }}"></label>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Destinatario" prop="expand.destinatario.nombre" [width]="110">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div *ngIf="row.expand.destinatario.importancia==0;else other_content">
                                    <span>{{row.expand?.destinatario?.nombre}}</span>
                                </div>

                                <ng-template #other_content>
                                    <strong style="color: #e04141;">
                                        {{ row.expand?.destinatario?.nombre.toUpperCase() }}
                                    </strong>
                                </ng-template>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Localidad" prop="expand.destinatario.expand.localidad.nombre"
                            [width]="110">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.destinatario?.expand?.localidad?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Proveedor" prop="expand.proveedor.nombre" [width]="125">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.proveedor?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Chofer" prop="expand.chofer.nombre" [width]="125">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.chofer?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Vehículo" prop="expand.vehiculo.nombre" [width]="125">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.vehiculo?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha entrega" prop="fechaEntrega" [width]="110">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Fecha</span>
                                    <br />
                                    <span style="white-space: nowrap">entrega</span>
                                </div>
                            </ng-template>
                            <ng-template let-fechaEntrega="value" ngx-datatable-cell-template>
                                <div>
                                    {{ fechaEntrega | date : "dd/MM/yyyy" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Observaciones" prop="observacioncorto" [sortable]="false"
                            [width]="200">
                            <ng-template let-observacioncorto="value" ngx-datatable-cell-template>
                                <div>
                                    {{ observacioncorto }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Novedades" prop="novedad" [width]="160" [sortable]="false">
                            <ng-template let-novedad="value" ngx-datatable-cell-template>
                                <div>
                                    {{ novedad }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div *ngIf="terceraparte">
                    <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap"
                        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
                        [limit]="page.size" [externalPaging]="true" [count]="page.count" [offset]="page.offset"
                        (page)="onPage($event)">
                        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false">

                            <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-row="row"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [checked]="isSelected(row)"
                                        (change)="onCheckboxChange(row)" id="rowChkbxRef{{ row.id }}" />

                                    <label class="custom-control-label" for="rowChkbxRef{{ row.id }}"></label>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Total" prop="totalViaje" [width]="100">
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex"
                                let-value="value">
                                <div>
                                    <!--[checked]="isSelected(row.id)"-->
                                    <input *ngIf="isSelected(row)" (blur)="updateValue($event, 'totalViaje', rowIndex)"
                                        type="number" [value]="value" class="form-control" />
                                    <span *ngIf="!isSelected(row)" title="Total">
                                        {{ value }}
                                    </span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Porc" prop="porcentajeCobro" [width]="40">
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex"
                                let-value="value">
                                <div>
                                    <input *ngIf="isSelected(row)"
                                        (blur)="updateValue($event, 'porcentajeCobro', rowIndex)" type="number"
                                        [value]="value" class="form-control" />
                                    <span *ngIf="!isSelected(row)" title="Double click to edit">
                                        {{ value }}
                                    </span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Declarado" prop="valorDeclarado" [width]="100">
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex"
                                let-value="value">
                                <div>
                                    <input *ngIf="isSelected(row)"
                                        (blur)="updateValue($event, 'valorDeclarado', rowIndex)" type="number"
                                        [value]="value" class="form-control" />
                                    <span *ngIf="!isSelected(row)" title="Double click to edit">
                                        {{ value }}
                                    </span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Unidad" prop="precioUnitario" [width]="70">
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex"
                                let-value="value">
                                <div>
                                    <input *ngIf="isSelected(row)"
                                        (blur)="updateValue($event, 'precioUnitario', rowIndex)" type="number"
                                        [value]="value" class="form-control" />
                                    <span *ngIf="!isSelected(row)" title="Double click to edit"
                                        (dblclick)="dobleClick('precioUnitario',row.id,rowIndex)">
                                        {{ value === 0 ? "-" : value }}
                                    </span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="KG" prop="kilos" [width]="70">
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex"
                                let-value="value">
                                <div>
                                    <input *ngIf="isSelected(row)" (blur)="updateValue($event, 'kilos', rowIndex)"
                                        type="number" [value]="value" class="form-control" />
                                    <span *ngIf="!isSelected(row)" title="Double click to edit"
                                        (dblclick)="dobleClick('kilos',row.id,rowIndex)">
                                        {{ value === 0 ? "-" : value }}
                                    </span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Boca/bultos" prop="bultos" [width]="70">
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex"
                                let-value="value">
                                <div>
                                    <input *ngIf="isSelected(row)" (blur)="updateValue($event, 'bultos', rowIndex)"
                                        type="number" [value]="value" class="form-control" />
                                    <span *ngIf="!isSelected(row)" title="Double click to edit"
                                        (dblclick)="dobleClick('bultos',row.id,rowIndex)">
                                        {{ value === 0 ? "-" : value }}
                                    </span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Acciones" [width]="40" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">

                                <div class="d-flex align-items-center col-actions" *ngIf="isSelected(row)">
                                    <div ngbDropdown container="body">
                                        <button ngbDropdownToggle type="button"
                                            class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                            <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem
                                                (click)="recalcularTotalFila(row.id,'PORC')">Total x porc</a>
                                            <a href="javascript:void(0)" ngbDropdownItem
                                                (click)="recalcularTotalFila(row.id,'KILO')">Total x kilo</a>
                                            <a href="javascript:void(0)" ngbDropdownItem
                                                (click)="recalcularTotalFila(row.id,'BULT')">Total x bulto</a>
                                            <a href="javascript:void(0)" ngbDropdownItem
                                                (click)="recalcularTotalFila(row.id,'UNIT')">Total x unitario</a>
                                        </div>
                                    </div>
                                </div>


                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </section>
    </div>
</div>