<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-list-wrapper">
            <div class="mb-1" style="color: #e04141; font-weight: 600; font-size: 20px">
                Liquidación remitos
            </div>
            <div class="card container">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <br>
                            <a class="btn btn-outline-secondary float-left" rippleEffect
                                (click)="retomarFactura()">Retomar Factura</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <br>
                            <a class="btn btn-outline-secondary float-left" rippleEffect (click)="crearFactura()">Crear
                                factura</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <br>
                        <a class="btn btn-outline-secondary float-left" rippleEffect (click)="limpiarFiltros()">Limpiar
                            filtros</a>
                    </div>
                    <div class="col-3">
                        <div>
                            <br>
                            <a class="btn btn-outline-secondary" rippleEffect
                                (click)="limpiarLista()">Limpiar remitos</a>
                        </div>
                    </div>

                </div>
                <div *ngIf="listaRemitos.length != 0" class="row mt-2">
                    <div class="col-3">
                        <label class="font-weight-bolder" for="">Cantidad de remitos cargados</label>
                        <br>
                        <label class="">{{listaRemitos.length}}</label>
                    </div>
                    <div class="col-9">
                        <label class="font-weight-bolder" for="">Lista de remitos cargados</label>
                        <br>
                        <label class="">{{showRemitosCargados().length>100?showRemitosCargados().substring(0,100)+"
                            ...":showRemitosCargados()}}</label>
                    </div>
                </div>
                <!--Filtros estado,fechaEntrega, formaPago, localidad, provincia-->
                <div class="row mt-1">
                    
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <h4>NUMERO REMITO</h4>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-3">

                        <label for="searchValue">Remito </label>
                        <input [(ngModel)]="nroRemito" name="nroRemito" type="search" class="form-control"
                            placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-5">
                        <h4>REUBICADO Y CONFORMADO</h4>
                    </div>
                    <div class="col-2">
                        <h4>DEBE FACTURAR</h4>
                    </div>
                    <div class="col-2">
                        <h4>FACTURADO</h4>
                    </div>
                </div>

                <div class="row">

                    <div class="col-1 ">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" name="inlineCheckbox2"
                                id="inlineCheckbox2" [(ngModel)]="todos" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox2">Todos</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" name="inlineCheckbox3"
                                id="inlineCheckbox3" [(ngModel)]="reubicado" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox3">Reubicado</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" name="inlineCheckbox4"
                                id="inlineCheckbox4" [(ngModel)]="confirmado" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox4">Conformado</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" name="inlineCheckbox5"
                                id="inlineCheckbox5" [(ngModel)]="facturar" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox5">Debe facturar</label>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" name="inlineCheckbox6"
                                id="inlineCheckbox6" [(ngModel)]="conFactura" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox6">Facturado</label>
                        </div>
                    </div>
                    <div class="col-2 hidden">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">

                            <input class="custom-control-input" type="checkbox" name="inlineCheckbox7"
                                id="inlineCheckbox7" [(ngModel)]="totalCero" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox7">Total cero</label>
                        </div>
                    </div>
                </div>
                <br>
                <h4>FECHAS</h4>
                <div class="row">
                    <div class="col-2">
                        <label for="fechaDesde">Fecha Ingreso Desde</label>
                        <input [(ngModel)]="fechaIngresoDesde" id="first-name-vertical" class="form-control"
                            name="fechaIngresoDesde" type="date" (keyup)="filterUpdate($event)"
                            (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="fechaHasta">Fecha Ingreso Hasta</label>
                        <input [(ngModel)]="fechaIngresoHasta" id="first-name-vertical" class="form-control"
                            name="fechaIngresoHasta" type="date" (keyup)="filterUpdate($event)"
                            (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <br>
                        <div class="custom-control custom-control-primary custom-switch">
                            <input class="custom-control-input" type="checkbox" id="inlineCheckbox1"
                                [(ngModel)]="porFechaEntrega" (change)="filterUpdate($event)" />
                            <label class="custom-control-label" for="inlineCheckbox1">Por fecha Entrega</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <label for="fechaDesde">Fecha Entrega Desde</label>
                        <input [(ngModel)]="fechaEntregaDesde" id="first-name-vertical" class="form-control"
                            name="fechaDesde" type="date" (keyup)="filterUpdate($event)"
                            (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="fechaHasta">Fecha Entrega Hasta</label>
                        <input [(ngModel)]="fechaEntregaHasta" id="first-name-vertical" class="form-control"
                            name="fechaHasta" type="date" (keyup)="filterUpdate($event)"
                            (change)="filterUpdate($event)" />
                        <br>
                    </div>
                </div>
                <h4 class="hidden">PROVEEDORES Y CLIENTES</h4>
                <h4>CLIENTES</h4>
                <div class="row">
                    <div class="col-2 hidden">
                        <label for="searchValue"> Proveedor </label>
                        <select id="cboProveedor" name="cboProveedor" class="form-control mx-25"
                            [(ngModel)]="nombreProveedor" (change)="filterUpdate($event)">
                            <option value="">Todos</option>
                            <option *ngFor="let est of proveedores" [value]="est.nombre">{{est.nombre}}</option>
                        </select>

                    </div>
                    <div class="col-2 hidden">
                        <label for="searchValue"> Vehiculo </label>
                        <input [(ngModel)]="nombreVehiculo" name="searchValue" type="search" class="form-control"
                            placeholder="Buscar..." (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                    </div>
                    <div class="col-2 hidden">
                        <label for="searchValue"> Chofer </label>
                        <input [(ngModel)]="nombreChofer" name="searchValue" type="search" class="form-control"
                            placeholder="Buscar..." (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="cboCliente"> Cliente </label>
                        <select id="cboCliente" name="cboCliente" class="form-control mx-25" [(ngModel)]="cliente"
                            (change)="onChangeCliente()">
                            <option value="">Todos</option>
                            <option *ngFor="let est of clientes" [value]="est.id">{{est.nombre}}</option>
                        </select>
                    </div>
                    <div class="hidden col-2">

                        <label for="searchValue"> Cliente </label>
                        <input [(ngModel)]="nombreCliente" name="searchValue" type="search" class="form-control"
                            placeholder="Buscar..." (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="searchValue"> Destinatario </label>
                        <input [(ngModel)]="nombreDestinatario" name="searchValue" type="search" class="form-control"
                            placeholder="Buscar..." (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                    </div>
                    <div class="col-2 hidden">
                        <label for="searchValue"> Remitente </label>
                        <input [(ngModel)]="nombreRemitente" name="searchValue" type="search" class="form-control"
                            placeholder="Buscar..." (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <h4>GEOGRAFIA</h4>
                    </div>
                    <div class="col-4">
                        <h4 class="hidden">ESTADO Y FORMA DE PAGO</h4>
                        <h4>ESTADO </h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="searchValue"> Provincia </label>
                        <input [(ngModel)]="provincia" name="searchValue" type="search" class="form-control"
                            placeholder="Buscar..." (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <label for="searchValue"> Localidad </label>
                        <input [(ngModel)]="localidad" name="searchValue" type="search" class="form-control"
                            placeholder="Buscar..." (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                    </div>
                    <div class="col-2">
                        <div class=" align-items-center">
                            <label for="cboEstado">Estado</label>
                            <select id="cboEstado" name="cboEstado" class="form-control mx-25" [(ngModel)]="estado"
                                (change)="filterUpdate($event)">
                                <option value="">Todos</option>
                                <option value="nopen">Sin pendientes</option>
                                <option *ngFor="let est of estados" [value]="est.id">{{est.nombre}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="hidden col-2">
                        <div class="">
                            <label for="cboForma" class="d-flex align-items-center">Formas de pago</label>
                            <select id="cboForma" name="cboForma" class="form-control mx-25" [(ngModel)]="formaPago"
                                (change)="filterUpdate($event)">
                                <option value="">Todas</option>
                                <option *ngFor="let prov of formas" [value]="prov.id">{{prov.nombre}}</option>
                            </select>
                            <br>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-6">
                        <h2>Total: ${{piso(total)}}</h2>
                    </div>
                    <div class="col-6">
                        <h2>Total kilos: {{piso(totalkilos)}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mt-1">
                        <button class="btn btn-outline-secondary " rippleEffect (click)="toggleSecond()">
                            <span *ngIf="!partedos">Ver segunda mitad</span>
                            <span *ngIf="partedos">Ver primera mitad</span>
                        </button>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <div class="d-flex align-items-center">
                                <label class="d-flex align-items-center">Mostrar
                                    <select class="form-control mx-25" [(ngModel)]="page.size"
                                        (change)="onPageSizeChange()">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>
                            <br>
                            <a class="btn btn-outline-secondary float-right" rippleEffect
                                (click)="agregarLista()">Seleccionar todos</a>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>
                            <br>
                            <a class="btn btn-outline-secondary float-right" rippleEffect
                                (click)="limpiarLista()">Quitar todos</a>
                        </div>
                    </div>
                </div>
                <div class="my-1 row d-flex justify-content-start px-1">
                    
                </div>
                <div *ngIf="!partedos">
                    <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap"
                        [columnMode]="ColumnMode.force" [headerHeight]="70" [footerHeight]="50" [scrollbarH]="true"
                        [limit]="page.size" [externalPaging]="true" [count]="page.count" [offset]="page.offset"
                        (page)="onPage($event)">
                        <ngx-datatable-column name="Elegir" [width]="70" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false">

                            <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-row="row"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <div class="d-flex">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            [checked]="estaEnFacturar(row.id)" (change)="onCheckboxChange(row)"
                                            id="rowChkbxRef{{ row.id }}" [disabled]="row.factura.length>0" />

                                        <label class="custom-control-label" for="rowChkbxRef{{ row.id }}"></label>
                                    </div>
                                    <div class="d-flex align-items-center col-actions">
                                        <div ngbDropdown container="body">
                                            <button ngbDropdownToggle type="button"
                                                class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a href="javascript:void(0)" ngbDropdownItem
                                                    (click)="modalEditRemitoOpen(modalEdit,row.id)"><i
                                                        data-feather="edit" class="mr-1"></i>Editar remito</a>
                                                <a href="javascript:void(0)" ngbDropdownItem
                                                    routerLink="/remitos/history/{{ row.id }}"><i data-feather="clock"
                                                        class="mr-1"></i>Historial</a>
                                                <a *ngIf="!estaEnFacturar(row.id)" href="javascript:void(0)"
                                                    ngbDropdownItem (click)="agregarRemito(row.id)">
                                                    <i data-feather="plus-circle" class="mr-1"></i>
                                                    Agregar remito
                                                </a>
                                                <a *ngIf="estaEnFacturar(row.id)" href="javascript:void(0)"
                                                    ngbDropdownItem (click)="quitarRemito(row.id)">
                                                    <i data-feather="minus-circle" class="mr-1"></i>
                                                    Quitar remito
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </ng-template>


                        </ngx-datatable-column>
                        <ngx-datatable-column name="RTO" prop="nroRemito" [width]="125">
                            <ng-template let-nroRemito="value" ngx-datatable-cell-template>
                                <div>
                                    {{ nroRemito }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Con Factura" prop="factura" [width]="60">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Con</span>
                                    <br />
                                    <span style="white-space: nowrap">Fact</span>
                                </div>
                            </ng-template>
                            <ng-template let-factura="value" ngx-datatable-cell-template>
                                <div>
                                    {{ factura!=''?"Si":"No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha ingreso" prop="fechaIngreso" [width]="110">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Fecha</span>
                                    <br />
                                    <span style="white-space: nowrap">ingreso</span>
                                </div>
                            </ng-template>
                            <ng-template let-fechaIngreso="value" ngx-datatable-cell-template>
                                <div>
                                    {{ fechaIngreso | date : "dd/MM/yyyy" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Cliente" prop="expand.cliente.nombre" [width]="125">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.cliente?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>



                        <ngx-datatable-column name="Destinatario" prop="expand.destinatario.nombre" [width]="125">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.destinatario?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Localidad" prop="expand.destinatario.expand.localidad.nombre"
                            [width]="125">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.destinatario?.expand?.localidad?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="estado" prop="expand.estado.nombre" [width]="100">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="badge badge-pill" [ngClass]="{
                                'badge-light-warning':
                                  row.expand?.estado?.nombre == 'Pendiente',
                                'badge-blue': row.expand?.estado?.nombre == 'Tránsito',
                                'badge-light-danger':
                                  row.expand?.estado?.nombre == 'Rechazado',
                                'badge-danger': row.expand?.estado?.nombre == 'Cancelado',
                                'badge-danger': row.expand?.estado?.nombre == 'Anulado',
                                'badge-light-success':
                                  row.expand?.estado?.nombre == 'Entregado'
                              }">
                                    {{ row.expand?.estado?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="facturar" [width]="60" [sortable]="false">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">A</span>
                                    <br />
                                    <span style="white-space: nowrap">Fact.</span>
                                </div>
                            </ng-template>
                            <ng-template let-facturar="value" ngx-datatable-cell-template>
                                <div>
                                    {{ facturar ? "Sí" : "No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div *ngIf="partedos">
                    <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap"
                        [columnMode]="ColumnMode.force" [headerHeight]="70" [footerHeight]="50" [scrollbarH]="true"
                        [limit]="page.size" [externalPaging]="true" [count]="page.count" [offset]="page.offset"
                        (page)="onPage($event)">
                        <ngx-datatable-column name="Acciones" [width]="70" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false">

                            <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-row="row"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <div class="d-flex">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            [checked]="estaEnFacturar(row.id)" (change)="onCheckboxChange(row)"
                                            id="rowChkbxRef{{ row.id }}" />

                                        <label class="custom-control-label" for="rowChkbxRef{{ row.id }}"></label>
                                    </div>
                                    <div class="d-flex align-items-center col-actions">
                                        <div ngbDropdown container="body">
                                            <button ngbDropdownToggle type="button"
                                                class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a href="javascript:void(0)" ngbDropdownItem
                                                    (click)="modalEditRemitoOpen(modalEdit,row.id)"><i
                                                        data-feather="edit" class="mr-1"></i>Editar remito</a>
                                                <a href="javascript:void(0)" ngbDropdownItem
                                                    routerLink="/remitos/history/{{ row.id }}"><i data-feather="clock"
                                                        class="mr-1"></i>Historial</a>
                                                <a *ngIf="!estaEnFacturar(row.id)" href="javascript:void(0)"
                                                    ngbDropdownItem (click)="agregarRemito(row.id)">
                                                    <i data-feather="plus-circle" class="mr-1"></i>
                                                    Agregar remito
                                                </a>
                                                <a *ngIf="estaEnFacturar(row.id)" href="javascript:void(0)"
                                                    ngbDropdownItem (click)="quitarRemito(row.id)">
                                                    <i data-feather="minus-circle" class="mr-1"></i>
                                                    Quitar remito
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Total" prop="totalViaje" [width]="125">
                            <ng-template let-totalViaje="value" ngx-datatable-cell-template>
                                <div>
                                    {{
                                    !totalViaje || totalViaje === 0
                                    ? "-"
                                    : "$ " + (totalViaje | number : "1.2-2")
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="KG" prop="kilos" [width]="80" [sortable]="false">
                            <ng-template let-kilos="value" ngx-datatable-cell-template>
                                <div>
                                    {{ kilos === 0 ? "-" : kilos }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Boca/bultos" prop="bultos" [width]="80" [sortable]="false">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Boca/</span>
                                    <br />
                                    <span style="white-space: nowrap">bultos</span>
                                </div>
                            </ng-template>
                            <ng-template let-bultos="value" ngx-datatable-cell-template>
                                <div>
                                    {{ bultos === 0 ? "-" : bultos }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha entrega" prop="fechaEntrega" [width]="110">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Fecha</span>
                                    <br />
                                    <span style="white-space: nowrap">entrega</span>
                                </div>
                            </ng-template>
                            <ng-template let-fechaEntrega="value" ngx-datatable-cell-template>
                                <div>
                                    {{ fechaEntrega | date : "dd/MM/yyyy" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Observaciones" prop="observacioncorto" [sortable]="false"
                            [width]="160">
                            <ng-template let-observacioncorto="value" ngx-datatable-cell-template>
                                <div>
                                    {{ observacioncorto }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Novedades" prop="novedad" [width]="160" [sortable]="false">
                            <ng-template let-novedad="value" ngx-datatable-cell-template>
                                <div>
                                    {{ novedad }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>


                    </ngx-datatable>
                </div>

            </div>
        </section>
    </div>
</div>
<!--Modal de facturacion-->
<ng-template #modalFact let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Facturacion</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="col-xl-12 col-md-12 col-12">
            <app-modalfacturacion (editarRemitoEvent)="eventoEditarRemito($event)"
                (cerrarModalEvent)="cerrarModalFact(modal)" (facturaEvent)="quitarRemito($event)"
                [datafacturar]="datafacturar"></app-modalfacturacion>
        </div>
    </div>
</ng-template>
<!--Fin Modal de lista-->
<!--Modal de editar remit-->
<ng-template #modalEdit let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Editar remito</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="col-xl-12 col-md-12 col-12">
            <app-editremito (editarRemitoEvent)="eventoEditarRemito($event)"
                (cerrarModalEvent)="cerrarModalEdit(modal,$event)" [idremito]="idremito"></app-editremito>
        </div>
    </div>
</ng-template>
<!--Fin Modal de editar remit-->