<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="invoice-add-wrapper">
      <div class="mb-1" style="color: #e04141; font-weight: 600; font-size: 20px">
        Agregar remito
      </div>
      <div class="row invoice-add">
        <div class="col-xl-12 col-md-12 col-12">
          <form class="form-horizontal" #RemitoForm="ngForm" (ngSubmit)="onSubmit(RemitoForm.form.valid)">
            <div class="card invoice-preview-card">

              <div class="m-0 ml-3 mr-3">
                <div class="row mt-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="fechaIngreso">Fecha de ingreso</label>
                      <input class="form-control" [class.error]="
                          RemitoForm.submitted && fechaIngresoRef.invalid
                        " [(ngModel)]="remito.fechaIngreso" #fechaIngresoRef="ngModel" required id="fechaIngreso"
                        name="fechaIngreso" max="{{ maxDate | date : 'yyyy-MM-dd' }}" type="date"
                        (change)="onCambioFecha()" />
                      <span *ngIf="RemitoForm.submitted && fechaIngresoRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="fechaIngresoRef.errors.required">Seleccione fecha de
                          ingreso.</small></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nroRemito">Número de remito</label>
                      <input class="form-control" [class.error]="
                          RemitoForm.submitted && nroRemitoRef.invalid
                        " [(ngModel)]="remito.nroRemito" #nroRemitoRef="ngModel" required id="nroRemito"
                        name="nroRemito" (change)="onCambioNro()" />
                      <span *ngIf="RemitoForm.submitted && nroRemitoRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="nroRemitoRef.errors.required">Ingrese número de
                          remito.</small></span>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="nroremitorepetido">
                    <p class="text-danger">Numero de remito repetido para este cliente</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="etiqueta">Etiqueta</label>
                      <input class="form-control" [(ngModel)]="remito.etiqueta" #etiquetaRef="ngModel" id="etiqueta"
                        name="etiqueta" />

                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="prioridad">Prioridad</label>
                      <ng-select [(ngModel)]="remito.prioridad" id="prioridad" name="prioridad" #prioridadRef="ngModel">
                        <ng-option *ngFor="let option of prioridadOptions" [value]="option.id">
                          {{ option.nombre }}
                        </ng-option>
                      </ng-select>

                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cliente">Cliente</label>
                      <ng-select [(ngModel)]="remito.cliente" [ngClass]="{
                          error: RemitoForm.submitted && clienteRef.invalid
                        }" required id="cliente" name="cliente" #clienteRef="ngModel"
                        (ngModelChange)="onClienteChange($event)">
                        <ng-option *ngFor="let option of clienteOptions" [value]="option.id">
                          {{ option.nombre }}
                        </ng-option>
                      </ng-select>
                      <span *ngIf="RemitoForm.submitted && clienteRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="clienteRef.errors.required">Seleccione
                          cliente.</small>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="remitente">Remitente</label>
                      <ng-select [(ngModel)]="remito.remitente" [ngClass]="{
                          error: RemitoForm.submitted && remitenteRef.invalid
                        }" required id="remitente" name="remitente" #remitenteRef="ngModel">
                        <ng-option *ngFor="let option of remitenteOptions" [value]="option.id">
                          {{ option.nombre }}
                        </ng-option>
                      </ng-select>
                      <span *ngIf="RemitoForm.submitted && remitenteRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="remitenteRef.errors.required">Seleccione
                          remitente.</small>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="kilos">Kilos</label>
                      <input class="form-control" [class.error]="RemitoForm.submitted && kilosRef.invalid"
                        [(ngModel)]="remito.kilos" #kilosRef="ngModel" id="kilos" name="kilos" positiveNumbersOnly />
                      <span *ngIf="RemitoForm.submitted && kilosRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="kilosRef.errors.required">Ingrese cantidad de
                          kilos.</small></span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="bultos">Bultos</label>
                      <input class="form-control" [class.error]="
                          RemitoForm.submitted && bultosRef.invalid
                        " [(ngModel)]="remito.bultos" #bultosRef="ngModel" id="bultos" name="bultos" integersOnly />
                      <span *ngIf="RemitoForm.submitted && bultosRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="bultosRef.errors.required">Ingrese cantidad de
                          bultos.</small></span>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="destinatario">Destinatario</label>
                      <ng-select [(ngModel)]="remito.destinatario" [ngClass]="{
                          error: RemitoForm.submitted && destinatarioRef.invalid
                        }" required id="destinatario" name="destinatario" #destinatarioRef="ngModel"
                        (ngModelChange)="onDestinatarioChange($event)">
                        <ng-option *ngFor="let option of destinatarioOptions" [value]="option.id">
                          <div *ngIf="option.importancia==0;else other_content">
                            <span>{{option.nombre}}</span>
                          </div>

                          <ng-template #other_content>
                            <strong>
                              {{ capitalize(option.nombre) }}
                            </strong>
                          </ng-template>
                        </ng-option>
                      </ng-select>
                      <span *ngIf="RemitoForm.submitted && destinatarioRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="destinatarioRef.errors.required">Seleccione
                          destinatario.</small>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="localidad">Localidad</label>
                      <input class="form-control" id="localidad" name="localidad" [(ngModel)]="localidad">
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="tarifario.length == 0 && remito.cliente && remito.fechaIngreso">
                  <div class="col-6">
                    <span>No hay tarifarios vigentes para este cliente para esta fecha. Ver historial</span>
                    
                  </div>
                  <div class="col-6"><a rippleEffect (click)="openHistorialModal(modalHistorial)"
                            class="btn btn-outline-secondary">Historial de tarifario</a></div>
                </div>
                <div class="row" *ngIf="tarifario.length > 0">
                  <div class="col-12">
                    <hr>
                    <div class="container ">
                      <div class="row">
                        <div class="col-6">
                          <h3>Tarifario de cliente {{nombrecliente}}</h3>
                        </div>
                        <div class="col-6"><a rippleEffect (click)="openHistorialModal(modalHistorial)"
                            class="btn btn-outline-secondary">Historial de tarifario</a></div>

                      </div>
                    </div>
                    <ngx-datatable [rows]="tarifario" rowHeight="auto" class="bootstrap core-bootstrap"
                      [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
                      [limit]="page.size" [externalPaging]="true" [count]="page.count" [offset]="page.offset">
                      <ngx-datatable-column prop="precio" name="Precio" [width]="40" [sortable]="false">
                        <ng-template let-precio="value" ngx-datatable-cell-template>
                          <div>
                            {{precio}}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Unidad" prop="expand.unidad.nombre" [width]="60">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                            {{ row.expand?.unidad?.nombre }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="descripcion" name="Descripcion" [width]="125" [sortable]="false">
                        <ng-template let-descripcion="value" ngx-datatable-cell-template>
                          <div>
                            {{descripcion}}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="fechadesde" name="Fecha Desde" [width]="50">
                        <ng-template let-fechadesde="value" ngx-datatable-cell-template>
                          <div>
                            {{fechadesde | date : "dd/MM/yyyy"}}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="fechahasta" name="Fecha Hasta" [width]="50">
                        <ng-template let-fechahasta="value" ngx-datatable-cell-template>
                          <div>
                            {{fechahasta | date : "dd/MM/yyyy"}}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                    </ngx-datatable>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="porcentajeCobro">Porcentaje de cobro</label>
                      <div class="input-group input-group-merge mb-2">
                        <input class="form-control" [class.error]="
                            RemitoForm.submitted && porcentajeCobroRef.invalid
                          " [(ngModel)]="remito.porcentajeCobro" #porcentajeCobroRef="ngModel" id="porcentajeCobro"
                          name="porcentajeCobro" positiveNumbersOnly />
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="valorDeclarado">Valor declarado</label>
                      <div class="input-group input-group-merge mb-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control" [class.error]="
                            RemitoForm.submitted && valorDeclaradoRef.invalid
                          " [(ngModel)]="remito.valorDeclarado" #valorDeclaradoRef="ngModel" id="valorDeclarado"
                          name="valorDeclarado" positiveNumbersOnly />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="precioUnitario">Precio unitario</label>
                      <div class="input-group input-group-merge mb-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control" placeholder="" [class.error]="
                            RemitoForm.submitted && precioUnitarioRef.invalid
                          " [(ngModel)]="remito.precioUnitario" #precioUnitarioRef="ngModel" id="precioUnitario"
                          name="precioUnitario" positiveNumbersOnly />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="totalViaje">Total</label>
                      <div class="input-group input-group-merge mb-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control" [class.error]="
                            RemitoForm.submitted && totalViajeRef.invalid
                          " [(ngModel)]="remito.totalViaje" #totalViajeRef="ngModel" id="totalViaje" name="totalViaje"
                          positiveNumbersOnly />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="custom-control custom-control-primary custom-switch mb-1">
                      <input type="checkbox" class="custom-control-input" id="facturar" [(ngModel)]="remito.facturar"
                        name="facturar" />
                      <label class="custom-control-label" for="facturar">Facturar</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <button type="button" class="btn btn-primary btn-block" (click)="calcularTotal('porcentaje')"
                      rippleEffect>
                      Total por porcentaje
                    </button>
                  </div>
                  <div class="col-md-3">
                    <br>
                    <button type="button" class="btn btn-primary btn-block" (click)="calcularTotal('kilos')"
                      rippleEffect>
                      Total por kilo
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <button type="button" class="btn btn-primary btn-block" (click)="calcularTotal('bultos')"
                      rippleEffect>
                      Total por bulto
                    </button>
                  </div>
                  <div class="col-md-3">
                    <br>
                    <button type="button" class="btn btn-primary btn-block" (click)="calcularTotal('unitario')"
                      rippleEffect>
                      Total por precio unitario
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 d-flex flex-sm-row flex-column mt-3 m-6 mb-2 justify-content-end">
                <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                  Guardar
                </button>
                <button type="button" class="btn btn-outline-secondary" routerLink="/remitos" rippleEffect>
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

<!--Modal de historial tarifario-->
<ng-template #modalHistorial let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Historial tarifario del cliente {{nombrecliente}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container row" tabindex="0" ngbAutofocus>
    <div class="col-xl-12 col-md-12 col-12">
      <ngx-datatable [rows]="tarifariohistorial" rowHeight="auto" class="bootstrap core-bootstrap"
        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
        [limit]="tarifariohistorial.length" [externalPaging]="true" [count]="tarifariohistorial.length">
        <ngx-datatable-column prop="precio" name="Precio" [width]="40" [sortable]="false">
          <ng-template let-precio="value" ngx-datatable-cell-template>
            <div>
              {{precio}}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Unidad" prop="expand.unidad.nombre" [width]="60">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
              {{ row.expand?.unidad?.nombre }}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="descripcion" name="Descripcion" [width]="125" [sortable]="false">
          <ng-template let-descripcion="value" ngx-datatable-cell-template>
            <div>
              {{descripcion}}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="fechadesde" name="Fecha Desde" [width]="50">
          <ng-template let-fechadesde="value" ngx-datatable-cell-template>
            <div>
              {{fechadesde | date : "dd/MM/yyyy"}}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="fechahasta" name="Fecha Hasta" [width]="50">
          <ng-template let-fechahasta="value" ngx-datatable-cell-template>
            <div>
              {{fechahasta | date : "dd/MM/yyyy"}}
            </div>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
</ng-template>