<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="card container">
            <div class="row">
                <div class="col-2">
                    <div class="d-flex justify-content-between align-items-center m-1">
                        <div class="d-flex align-items-center">
                            <label class="d-flex align-items-center">Mostrar
                                <select class="form-control mx-25" [(ngModel)]="page.size"
                                    (change)="onPageSizeChange()">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <br>
                    <a class="btn btn-outline-secondary float-right" rippleEffect (click)="exportarXLX()">Exportar
                        EXCEL</a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-4">

                    <button class="btn btn-outline-secondary" (click)="limpiarFiltros()">Limpiar filtros</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <br>
                    <h4>Filtros</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="cboCliente"> Cliente </label>
                    <select id="cboCliente" name="cboCliente" class="form-control mx-25" [(ngModel)]="cliente"
                        (change)="changeCliente()">
                        <option value="">Todos</option>
                        <option *ngFor="let est of clientes" [value]="est.id">{{est.nombre}}</option>
                    </select>
                </div>
                <div class="col-2">
                    <label for="fechaDesde">Fecha cobro desde</label>
                    <input [(ngModel)]="fechaCobroDesde" id="first-name-vertical" class="form-control"
                        name="fechaIngresoDesde" type="date" (change)="filterUpdate($event)" />
                </div>
                <div class="col-2">
                    <label for="fechaHasta">Fecha cobro hasta</label>
                    <input [(ngModel)]="fechaCobroHasta" id="first-name-vertical" class="form-control"
                        name="fechaIngresoHasta" type="date" (change)="filterUpdate($event)" />
                </div>
            </div>
            <div class="row my-1">
                <div class="col-3">
                    <button class="btn btn-outline-secondary" (click)="calcularTotal()">Calcular total</button>

                </div>

            </div>
            <div class="row my-1">
                <div class="col-2">
                    <h3>Total facturas: $ {{totalfacturas}} </h3>
                </div>
                <div class="col-2">
                    <h3>A cuenta: $ {{redondear(totalsaldo)}} </h3>
                </div>
            </div>
            <div class="row my-1">

                <div class="col-2">
                    <h3>Total pagos: $ {{redondear(totaldetalles)}} </h3>
                </div>

                <div class="col-2">
                    <h3>Total retenciones: $ {{redondear(totalretenciones)}} </h3>
                </div>
                <div class="col-2">
                    <h3>Total descuentos: $ {{redondear(totaldescuentos)}} </h3>
                </div>

                <div class="col-2">
                    <h3>Total cuentas: $ {{redondear(totalcuentas)}} </h3>
                </div>
                <div class="col-2">
                    <h3>Total notas: $ {{redondear(totalnotas)}} </h3>
                </div>
            </div>


            <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap" [limit]="selectedOption"
                [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
                [limit]="page.size" [externalPaging]="true" [count]="page.count" [offset]="page.offset"
                (page)="onPage($event)">
                <ngx-datatable-column name="Acciones" [width]="50" [sortable]="false">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <div class="d-flex align-items-center col-actions">
                            <div ngbDropdown container="body">
                                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0"
                                    rippleEffect>
                                    <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                                </button>
                                <div ngbDropdownMenu>
                                    <a href="facturacion/detallecobro/{{row.id}}" ngbDropdownItem><i data-feather="eye"
                                            class="mr-1"></i>Ver cobro</a>
                                    <a href="javascript:void(0)" ngbDropdownItem (click)="ConfirmDeletePago(row.id)"><i
                                            data-feather="trash" class="mr-1"></i>Eliminar cobro</a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Numero" prop="numero" [width]="40">
                    <ng-template let-numero="value" ngx-datatable-cell-template>
                        <div>
                            {{
                            numero
                            }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Fecha cobro" prop="fechacobro" [width]="100">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <div>
                            <span style="white-space: nowrap">Fecha</span>
                            <br />
                            <span style="white-space: nowrap">cobro</span>
                        </div>
                    </ng-template>
                    <ng-template let-fechacobro="value" ngx-datatable-cell-template>
                        <div>
                            {{ fechacobro | date : "dd/MM/yyyy" }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Cliente" prop="expand.cliente.nombre" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{ row.expand?.cliente?.nombre }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total fact" prop="totalfacturas" [width]="100">
                    <ng-template let-totalfacturas="value" ngx-datatable-cell-template>
                        <div>
                            {{
                            !totalfacturas || totalfacturas === 0
                            ? "-"
                            : "$ " + formatPeso(totalfacturas | number : "1.2-2")
                            }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total pagos" prop="totaldetalles" [width]="100">
                    <ng-template let-totaldetalles="value" ngx-datatable-cell-template>
                        <div>
                            {{
                            !totaldetalles || totaldetalles === 0
                            ? "-"
                            : "$ " + (totaldetalles | number : "1.2-2")
                            }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total rete" prop="totalretenciones" [width]="100">
                    <ng-template let-totalretenciones="value" ngx-datatable-cell-template>
                        <div>
                            {{
                            !totalretenciones || totalretenciones === 0
                            ? "-"
                            : "$ " + (totalretenciones | number : "1.2-2")
                            }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total desc" prop="totaldescuentos" [width]="100">
                    <ng-template let-totaldescuentos="value" ngx-datatable-cell-template>
                        <div>
                            {{
                            !totaldescuentos || totaldescuentos === 0
                            ? "-"
                            : "$ " + (totaldescuentos | number : "1.2-2")
                            }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="A cuentas" prop="totalacuentas" [width]="100">
                    <ng-template let-totalacuentas="value" ngx-datatable-cell-template>
                        <div>
                            {{
                            !totalacuentas || totalacuentas === 0
                            ? "-"
                            : "$ " + (totalacuentas | number : "1.2-2")
                            }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Notas" prop="totalnotas" [width]="100">
                    <ng-template let-totalnotas="value" ngx-datatable-cell-template>
                        <div>
                            {{
                            !totalnotas || totalnotas === 0
                            ? "-"
                            : "$ " + (totalnotas | number : "1.2-2")
                            }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Saldo" prop="saldo" [width]="100">
                    <ng-template let-saldo="value" ngx-datatable-cell-template>
                        <div>
                            {{
                            !saldo || saldo === 0
                            ? "-"
                            : "$ " + (saldo | number : "1.2-2")
                            }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>