<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="card container">
            
            <div class="row">
                <div class="col-2">
                    <label for="numero">Numero de orden</label>
                    <input
                        class="form-control"                        
                        [(ngModel)]="numero"
                        id="numero"
                        name="numero"
                    />
                </div>
                <div class="col-2">
                    <label for="fechacobro">Fecha de cobro</label>
                    <input
                        class="form-control"
                        
                        [(ngModel)]="fechacobro"
                        
                        id="fechacobro"
                        name="fechacobro"
                        type="date"
                    />
                </div>
                
                <div class="col-2">
                    <br>
                    <a
                        class="btn btn-outline-primary"
                        rippleEffect
                        (click)="cobro()"
                        >Realizar cobro</a
                    >
                </div>
                <div class="col-3">
                    <br>
                    <a
                        class="btn btn-outline-secondary "
                        rippleEffect
                        (click)="vistaPrevia(true)"
                        >Vista previa cobro</a
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="acuenta">A cuenta</label>
                    <input
                        class="form-control"
                        [(ngModel)]="acuenta"
                        (change)="onChangeAcuenta()"
                        id="acuenta"
                        name="acuenta"
                        type="number"
                    /> 
                </div>
                <div class="col-2 ">
                    <br>
                    <div class="custom-control custom-control-primary custom-switch">
                        <input class="custom-control-input" type="checkbox" name="nombreCheckbox" id="nombreCheckbox" [(ngModel)]="completo" />
                        <label class="custom-control-label" for="nombreCheckbox">Completo</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 my-1">
                    <span
                        class="badge rounded-pill mx-1 cursor-pointer"
                        [ngClass]="tabactivo==0?'bg-primary':'bg-secondary'"
                        (click)="clickTab(0)"
                    >
                        Oculto
                    </span>
                    <span
                        class="badge rounded-pill mx-1 cursor-pointer"
                        [ngClass]="tabactivo==1?'bg-primary':'bg-secondary'"
                        (click)="clickTab(1)"
                    >
                        Detalles
                    </span>
                    <span
                        class="badge rounded-pill mx-1 cursor-pointer"
                        [ngClass]="tabactivo==2?'bg-primary':'bg-secondary'"
                        (click)="clickTab(2)"
                    >
                        Retenciones
                    </span>
                    <span
                        class="badge rounded-pill mx-1 cursor-pointer"
                        [ngClass]="tabactivo==3?'bg-primary':'bg-secondary'"
                        (click)="clickTab(3)"
                    >
                        Descuentos
                    </span>
                </div>
            </div>
            <div *ngIf="tabactivo==1" class="row ">
                <div class="col-12">
                    <div class="container">
                        <div class="row my-1">
                            <div class="col-3">
                                <button
                                    class="btn btn-outline-secondary "
                                    (click)="openModal(modalCheque,true)"
                                >
                                    Cheque
                                </button>    
                            </div>
                            <div class="col-3">
                                <button
                                    class="btn btn-outline-secondary "
                                    (click)="openModal(modalTransfer,true)"
                                >
                                    Transferencia
                                </button>
                            </div>
                            <div class="col-3">
                                <button
                                    class="btn btn-outline-secondary "
                                    (click)="openModal(modalTrans,true)"
                                >
                                    Transacción
                                </button>
                            </div>
                        </div>
                        <ngx-datatable
                            [rows]="rowdetallespago"
                            rowHeight="auto"
                            class="bootstrap core-bootstrap"
                            [columnMode]="ColumnMode.force"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [scrollbarH]="true"
                            [limit]="50"
                            [externalPaging]="true"
                            [count]="rowdetallespago.length"
                            [offset]="0"
                        >
                            <ngx-datatable-column
                                name="Acciones"
                                [width]="50"
                                [sortable]="false"
                            >
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <div class="d-flex align-items-center col-actions">
                                        <div ngbDropdown container="body">
                                            <button
                                            ngbDropdownToggle
                                            type="button"
                                            class="btn icon-btn btn-sm hide-arrow px-0"
                                            rippleEffect
                                            >
                                                <i
                                                    data-feather="more-vertical"
                                                    size="18"
                                                    class="cursor-pointer"
                                                ></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a
                                                    href="javascript:void(0)"
                                                    ngbDropdownItem
                                                    (click)="verFila(row.indice,modalCheque,modalTransfer,modalTrans,true)"
                                                    ><i data-feather="eye" class="mr-1"></i>Ver detalle</a
                                                >
                                                <a
                                                    href="javascript:void(0)"
                                                    ngbDropdownItem
                                                    (click)="quitarDetalle(row.indice)"
                                                    ><i data-feather="trash" class="mr-1"></i>Quitar detalle</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="125">
                                <ng-template let-descripcion="value" ngx-datatable-cell-template>
                                    <div>
                                    {{ descripcion }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Total" prop="total" [width]="125">
                                <ng-template let-total="value" ngx-datatable-cell-template>
                                    <div>
                                    {{ total }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tipo" prop="categoria" [width]="125">
                                <ng-template let-categoria="value" ngx-datatable-cell-template>
                                    <div>
                                    {{ categoria }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>

                </div>
            </div>
            <div *ngIf="tabactivo==2" class="row ">
                <div class="col-12">
                    <div class="container">
                        <div class="row my-1">
                            <div class="col-3">
                                <button
                                    class="btn btn-outline-secondary "
                                    (click)="openModalRetenciones(modalRetenciones)"
                                >
                                    Guardar
                                </button>    
                            </div>
                        </div>
                        <ngx-datatable
                            [rows]="rowretenciones"
                            rowHeight="auto"
                            class="bootstrap core-bootstrap"
                            [columnMode]="ColumnMode.force"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [scrollbarH]="true"
                            [limit]="50"
                            [externalPaging]="true"
                            [count]="rowretenciones.length"
                            [offset]="0"
                        >
                            <ngx-datatable-column
                                name="Acciones"
                                [width]="50"
                                [sortable]="false"
                            >
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <div class="d-flex align-items-center col-actions">
                                        <div ngbDropdown container="body">
                                            <button
                                            ngbDropdownToggle
                                            type="button"
                                            class="btn icon-btn btn-sm hide-arrow px-0"
                                            rippleEffect
                                            >
                                                <i
                                                    data-feather="more-vertical"
                                                    size="18"
                                                    class="cursor-pointer"
                                                ></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a
                                                    href="javascript:void(0)"
                                                    ngbDropdownItem
                                                    (click)="verFilaRetencion(row.indice,modalRetenciones)"
                                                    ><i data-feather="eye" class="mr-1"></i>Ver retencion</a
                                                >
                                                <a
                                                    href="javascript:void(0)"
                                                    ngbDropdownItem
                                                    (click)="quitarRetencion(row.indice)"
                                                    ><i data-feather="trash" class="mr-1"></i>Quitar detalle</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="125">
                                <ng-template let-descripcion="value" ngx-datatable-cell-template>
                                    <div>
                                    {{ descripcion }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Monto" prop="monto" [width]="125">
                                <ng-template let-monto="value" ngx-datatable-cell-template>
                                    <div>
                                    {{ monto }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>

                </div>
            </div>
            <div *ngIf="tabactivo==3" class="row ">
                <div class="col-12">
                    <div class="container">
                        <div class="row my-1">
                            <div class="col-3">
                                <button
                                    class="btn btn-outline-secondary "
                                    (click)="openModalDecuento(modalDescuento)"
                                >
                                    Guardar
                                </button>  
                            </div>
                        </div>
                        <ngx-datatable
                            [rows]="rowdescuentos"
                            rowHeight="auto"
                            class="bootstrap core-bootstrap"
                            [columnMode]="ColumnMode.force"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [scrollbarH]="true"
                            [limit]="50"
                            [externalPaging]="true"
                            [count]="rowdescuentos.length"
                            [offset]="0"
                        >
                            <ngx-datatable-column
                                name="Acciones"
                                [width]="50"
                                [sortable]="false"
                            >
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <div class="d-flex align-items-center col-actions">
                                        <div ngbDropdown container="body">
                                            <button
                                            ngbDropdownToggle
                                            type="button"
                                            class="btn icon-btn btn-sm hide-arrow px-0"
                                            rippleEffect
                                            >
                                                <i
                                                    data-feather="more-vertical"
                                                    size="18"
                                                    class="cursor-pointer"
                                                ></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a
                                                    href="javascript:void(0)"
                                                    ngbDropdownItem
                                                    (click)="verFilaDescuento(row.indice,modalDescuento)"
                                                    ><i data-feather="eye" class="mr-1"></i>Ver retencion</a
                                                >
                                                <a
                                                    href="javascript:void(0)"
                                                    ngbDropdownItem
                                                    (click)="quitarDescuento(row.indice)"
                                                    ><i data-feather="trash" class="mr-1"></i>Quitar detalle</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="125">
                                <ng-template let-descripcion="value" ngx-datatable-cell-template>
                                    <div>
                                    {{ descripcion }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Monto" prop="monto" [width]="125">
                                <ng-template let-monto="value" ngx-datatable-cell-template>
                                    <div>
                                    {{ monto }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <br>
                    <h3>Total facturas IVA: </h3>
                    <h3 *ngIf="responsableinscripto">{{formatPeso(totalfactiva)}}</h3>
                    <h5 *ngIf="!responsableinscripto">No es responsable inscripto</h5>
                </div>
                <div class="col-3">
                    <br>
                    <h3>Total facturas: </h3>
                    <h3>{{formatPeso(totalfact)}}</h3>
                </div>
                <div class="col-3">
                    <br>
                    <h3>Total pagos: </h3>
                    <h3>{{formatPeso(totalpagos)}}</h3>
                </div>
                <div class="col-3">
                    <br>
                    <h3>Total retenciones: </h3>
                    <h3>{{formatPeso(totalretenciones)}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <br>
                    <h3>Saldo: {{formatPeso(saldo)}}</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <div class="d-flex justify-content-between align-items-center m-1">
                        <div class="d-flex align-items-center">
                        <label class="d-flex align-items-center"
                            >Mostrar
                            <select
                            class="form-control mx-25"
                            [(ngModel)]="page.size"
                            (change)="onPageSizeChange()"
                            >
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            </select>
                        </label>
                        </div>
                    </div>
                </div>
            </div>
            <ngx-datatable
                [rows]="rows"
                rowHeight="auto"
                class="bootstrap core-bootstrap"
                [columnMode]="ColumnMode.force"
                [headerHeight]="70"
                [footerHeight]="50"
                [scrollbarH]="true"
                [limit]="page.size"
                [externalPaging]="true"
                [count]="page.count"
                [offset]="page.offset"
                (page)="onPage($event)"
            >
                <ngx-datatable-column
                    name="Acciones"
                    [width]="50"
                    [sortable]="false"
                >
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <div class="d-flex align-items-center col-actions">
                            <div ngbDropdown container="body">
                                <button
                                    ngbDropdownToggle
                                    type="button"
                                    class="btn icon-btn btn-sm hide-arrow px-0"
                                    rippleEffect
                                >
                                    <i
                                        data-feather="more-vertical"
                                        size="18"
                                        class="cursor-pointer"
                                    ></i>
                                </button>
                                <div ngbDropdownMenu>
                                    <a
                                        href="/facturacion/detalle/{{row.id}}"
                                        ngbDropdownItem
                                        ><i data-feather="eye" class="mr-1"></i>Detalle</a
                                    >
                                    
                                    <a
                                        href="javascript:void(0)"
                                        ngbDropdownItem
                                        
                                        (click)="quitarFactura(row.id)"
                                        ><i data-feather="check-square" class="mr-1"></i>Quitar factura</a
                                    >
                                    <a
                                        href="javascript:void(0)"
                                        ngbDropdownItem
                                        (click)="ConfirmDeleteOpen(row.id)"
                                        ><i data-feather="trash" class="mr-1"></i>Eliminar</a
                                    >
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                    name="fechafacturacion"
                    prop="fechafacturacion"
                    [width]="110"
                >
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <div>
                            <span style="white-space: nowrap">Fecha Fact.</span>
                            
                        </div>
                    </ng-template>
                    <ng-template let-fechafacturacion="value" ngx-datatable-cell-template>
                        <div>
                            {{ fechafacturacion  | date : "dd/MM/yyyy" }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                    name="Cobrado"
                    prop="cobrado"
                    [width]="60"
                >
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <div>
                            <span style="white-space: nowrap">Cobrado</span>
                        </div>
                    </ng-template>
                    <ng-template let-cobrado="value" ngx-datatable-cell-template>
                        <div>
                            {{ cobrado?"Si":"No" }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                    name="Periodo"
                    prop="monthyear"
                    [width]="110"
                >
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <div>
                            <span style="white-space: nowrap">Periodo</span>
                            
                        </div>
                    </ng-template>
                    <ng-template let-monthyear="value" ngx-datatable-cell-template>
                        <div>
                            {{ monthyear }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                    name="Cliente"
                    prop="expand.cliente.nombre"
                    [width]="125"
                >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                        {{ row.expand?.cliente?.nombre }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="NRO" prop="numero" [width]="125">
                    <ng-template let-numero="value" ngx-datatable-cell-template>
                        <div>
                        {{ numero }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total" prop="total" [width]="125">
                    <ng-template let-total="value" ngx-datatable-cell-template>
                        <div>
                        {{ formatPeso(total) }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<!--Detalles pago-->
<ng-template #modalDetaPago let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Detalles pago</h2>
        <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" ngbAutofocus>
        <div class="col-xl-12 col-md-12 col-12">
            
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <br>
                        <label for="desc"> Descripcion </label>
                        <input [(ngModel)]="descripciondetalle" name="desc" type="search" class="form-control"
                            placeholder="Descripcion..." />
                    </div>
                    <div class="col-3">
                        <br>
                        <label for="tot"> Total </label>
                        <input [(ngModel)]="totaldetalle" name="tot" type="number" class="form-control"
                            placeholder="Total..." />
                    </div>
                    <div class="col-2">
                        <br>
                        <br>
                        <a
                            class="btn btn-outline-secondary float-right"
                            rippleEffect
                            (click)="addDetalle()"
                        >Agregar detalle</a
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <br>
                        <h3>Total pagos: {{totalpagos}}</h3>
                    </div>

                </div>
                <br>
                <ngx-datatable
                    [rows]="rowdetallespago"
                    rowHeight="auto"
                    class="bootstrap core-bootstrap"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [scrollbarH]="true"
                    [limit]="50"
                    [externalPaging]="true"
                    [count]="rowdetallespago.length"
                    [offset]="0"
                >
                    <ngx-datatable-column
                        name="Acciones"
                        [width]="50"
                        [sortable]="false"
                    >
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="d-flex align-items-center col-actions">
                                <div ngbDropdown container="body">
                                    <button
                                    ngbDropdownToggle
                                    type="button"
                                    class="btn icon-btn btn-sm hide-arrow px-0"
                                    rippleEffect
                                    >
                                    <i
                                        data-feather="more-vertical"
                                        size="18"
                                        class="cursor-pointer"
                                    ></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                    <a
                                        href="javascript:void(0)"
                                        ngbDropdownItem
                                        (click)="quitarDetalle(row.indice)"
                                        ><i data-feather="trash" class="mr-1"></i>Quitar detalle</a
                                    >
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="125">
                        <ng-template let-descripcion="value" ngx-datatable-cell-template>
                            <div>
                            {{ descripcion }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Total" prop="total" [width]="125">
                        <ng-template let-total="value" ngx-datatable-cell-template>
                            <div>
                            {{ total }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
        
    </div>
</ng-template>
<!--Fin Detalles pago-->
<!--Retenciones pago-->
<ng-template #modalRetenciones let-modal>
    
    <div class="modal-header">
        <h2 class="modal-title">{{indiceretencion==""?"Nueva":"Ver"}} retención</h2>
        <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" ngbAutofocus>    
        <div class="container">
            <app-modalretencion
                [fechacobro] ="fechacobro"
                [retencion]="fila"
                [indice]="indiceretencion"
                (retencionEvent)="guardarRetencion($event,modal)"
                
            >
            </app-modalretencion>
            
        </div>
    </div>
</ng-template>
<!--Fin Retenciones pago-->
<!--Descuento-->
<ng-template #modalDescuento let-modal>
    <div class="modal-header">
        <h2 class="modal-title">{{indicedescuento==""?"Nuevo":"Ver"}} descuento</h2>
        <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" ngbAutofocus>    
        <div class="container">
            <app-modaldescuento
                [fechacobro] ="fechacobro"
                [descuento]="fila"
                (descuentoEvent)="guardarDescuento($event,modal)"
                [indice]="indicedescuento"
            ></app-modaldescuento>
            
        </div>
    </div>
</ng-template>
<!--Fin Descuento-->
<!--Modal cheques-->
<ng-template #modalCheque let-modal>
    <div class="modal-header">
        <h2 class="modal-title">{{indicefila==""?"Nuevo":"Ver"}} cheque - {{esDetalle?"Detalle":"Retención"}}</h2>
        <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" ngbAutofocus>    
        <div class="container">
            <app-modalcheque (chequeEvent)="guardarFila($event,modal)" [fechacobro] ="fechacobro" [esDetalle]="esDetalle" [indice]="indicefila" [cheque]="fila"></app-modalcheque>
        </div>
    </div>
</ng-template>
<!--fin Modal cheques-->
<!--Modal transfer-->
<ng-template #modalTransfer let-modal>
    <div class="modal-header">
        <h2 class="modal-title">{{indicefila==""?"Nueva":"Ver"}} transferencia - {{esDetalle?"Detalle":"Retención"}}</h2>
        <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" ngbAutofocus>    
        <div class="container">
            <app-modaltransfer (transferEvent)="guardarFila($event,modal)" [fechacobro] ="fechacobro" [esDetalle]="esDetalle" [indice]="indicefila" [transfer]="fila"></app-modaltransfer>
        </div>
    </div>
</ng-template>
<!--fin Modal transfer-->
<!--Modal trans-->
<ng-template #modalTrans let-modal>
    <div class="modal-header">
        <h2 class="modal-title">{{indicefila==""?"Nuevo":"Ver"}} Transaccion - {{esDetalle?"Detalle":"Retención"}}</h2>
        <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" ngbAutofocus>    
        <div class="container">
            <app-modaltrans (transEvent)="guardarFila($event,modal)" [fechacobro] ="fechacobro" [esDetalle]="esDetalle" [indice]="indicefila" [trans]="fila"></app-modaltrans>
        </div>
    </div>
</ng-template>
<!--fin Modal trans-->