<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-3">
      <label for="searchValue">Número </label>
      <input [(ngModel)]="codigo" class="form-control" />
    </div>
    <div class="col-3">
      <label for="totalproveedor">Total proveedor </label>
      <input [(ngModel)]="totalproveedor" class="form-control" />
    </div>
    <div class="col-3">
      <label for="totalproveedoriva">Total proveedor IVA</label>
      <input [(ngModel)]="totalproveedoriva" class="form-control" />
    </div>
    <div *ngIf="!openTarifario" class="col-3 mt-2">
      <button type="button" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect (click)="verTarifario()">
        Ver tarifario
      </button>
    </div>
    <div *ngIf="openTarifario" class="col-4 mt-2">
      <button type="button" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect (click)="cerrarTarifario()">
        Cerrar tarifario
      </button>
    </div>
    <div class="hidden col-3">
      <label for="searchValue">Estado </label>
      <input [(ngModel)]="nombreestado" class="form-control" />
    </div>

  </div>
  <div *ngIf="openTarifario" class="row mt-2">
    <div class="col-12">
      <ngx-datatable [rows]="tarifario" rowHeight="auto" class="bootstrap core-bootstrap"
        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
        [limit]="tarifario.length" [externalPaging]="true" [count]="tarifario.length" [offset]="0">
        <ngx-datatable-column prop="precio" name="Precio" [width]="40" [sortable]="false">
          <ng-template let-precio="value" ngx-datatable-cell-template>
            <div>
              {{precio}}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Unidad" prop="expand.unidad.nombre" [width]="60">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
              {{ row.expand?.unidad?.nombre }}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="descripcion" name="Descripcion" [width]="125" [sortable]="false">
          <ng-template let-descripcion="value" ngx-datatable-cell-template>
            <div>
              {{descripcion}}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="fechadesde" name="Fecha Desde" [width]="50">
          <ng-template let-fechadesde="value" ngx-datatable-cell-template>
            <div>
              {{fechadesde | date : "dd/MM/yyyy"}}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="fechahasta" name="Fecha Hasta" [width]="50">
          <ng-template let-fechahasta="value" ngx-datatable-cell-template>
            <div>
              {{fechahasta | date : "dd/MM/yyyy"}}
            </div>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="searchValue">Proveedor </label>
      <input [(ngModel)]="nombreproveedor" class="form-control" />
    </div>
    <div class="col-3">
      <label for="searchValue">Vehiculo </label>
      <input [(ngModel)]="nombrevehiculo" class="form-control" />
    </div>
    <div class="col-3">
      <label for="searchValue">Chofer </label>
      <input [(ngModel)]="nombrechofer" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="searchValue">Fecha creacion </label>
      <br>
      <label for="searchValue">{{showCreacion()}} </label>
      
    </div>
    <div class="col-3">
      <label for="fechaentrega">Fecha entrega </label>
      <input [(ngModel)]="fechaentrega" name="fechaentrega" id="fechaentrega" class="form-control" type="date" />
    </div>
    <div class="col-2">

      <div class="custom-control custom-control-primary custom-switch">
        <br>
        <input class="custom-control-input" type="checkbox"  name="inlineCheckboxVuelta" id="inlineCheckboxVuelta" [(ngModel)]="primeravuelta" />
        <label class="custom-control-label" for="inlineCheckboxVuelta">Primera vuelta</label>
      </div>
    </div>
    <div class="hidden col-3">
      <label for="searchValue">Fecha finalizacion </label>
      <input [(ngModel)]="fechafin" name="fechafin" id="fechafin" class="form-control" type="date" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <button type="button" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect (click)="editarHR()">
        Editar HR
      </button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-outline-secondary  mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect
        (click)="exportarHR()">
        Exportar hoja
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="d-flex justify-content-between align-items-center m-1">
        <div class="d-flex align-items-center">
          <label class="d-flex align-items-center">Mostrar
            <select class="form-control mx-25" [(ngModel)]="page.size" (change)="onPageSizeChange()">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </label>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-1">
    <div class="col-3">
      <h3>Margen: {{formatPeso(rentabilidadabsoluta)}}</h3>
    </div>
    <div class="col-3">
      <h3>Rentabilidad: {{redondear(rentabilidad)}}</h3>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3">
      <h4 *ngIf="responsable">Proveedor responsable inscripto</h4>
      <h4 *ngIf="!responsable">Proveedor no responsable inscripto</h4>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3">
      <h3>Total remitos: {{formatPeso(total)}}</h3>
    </div>
    <div class="col-3">
      <h3>Total kilos: {{redondear(kilos)}}</h3>
    </div>
    <div class="col-3">
      <h3>Total bultos: {{redondear(totalbultos)}}</h3>
    </div>
    <div class="col-3">
      <h3>Total declarado: {{formatPeso(totaldeclarado)}}</h3>
    </div>

  </div>
  <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
    [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" [limit]="page.size" [externalPaging]="true"
    [count]="page.count" [offset]="page.offset" (page)="onPage($event)">
    <ngx-datatable-column name="Acciones" [width]="50" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="d-flex align-items-center col-actions">
          <a class="mr-1" href="javascript:void(0)" (click)="QuitarHR(row.id)" container="body" placement="top"
            ngbTooltip="Quitar de hoja de ruta"><i size="18" data-feather="trash"></i></a>
          <a class="mr-1" href="/remitos/edit/{{row.id}}" container="body" placement="top" ngbTooltip="Editar remito"><i
              size="18" data-feather="edit"></i></a>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="estado" prop="expand.estado.nombre" [width]="30">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="badge badge-pill" [ngClass]="{
                  'badge-light-warning':
                    row.expand?.estado?.nombre == 'Pendiente',
                  'badge-blue': row.expand?.estado?.nombre == 'Tránsito',
                  'badge-light-danger':
                    row.expand?.estado?.nombre == 'Rechazado',
                  'badge-danger': row.expand?.estado?.nombre == 'Cancelado',
                                'badge-danger': row.expand?.estado?.nombre == 'Anulado',
                  'badge-light-success':
                    row.expand?.estado?.nombre == 'Entregado'
                }">
          {{ row.expand?.estado?.nombre.substring(0,3) }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="RTO" prop="nroRemito" [width]="80">
      <ng-template let-nroRemito="value" ngx-datatable-cell-template>
        <div>
          {{ nroRemito }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Fecha ingreso" prop="fechaIngreso" [width]="110">
      <ng-template let-column="column" ngx-datatable-header-template>
        <div>
          <span style="white-space: nowrap">Fecha</span>
          <br />
          <span style="white-space: nowrap">ingreso</span>
        </div>
      </ng-template>
      <ng-template let-fechaIngreso="value" ngx-datatable-cell-template>
        <div>
          {{ fechaIngreso | date : "dd/MM/yyyy" }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="total" prop="totalViaje" [width]="80" [sortable]="false">
      <ng-template let-totalViaje="value" ngx-datatable-cell-template>
        <div>
          {{ totalViaje === 0 ? "-" : totalViaje }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="KG" prop="kilos" [width]="80" [sortable]="false">
      <ng-template let-kilos="value" ngx-datatable-cell-template>
        <div>
          {{ kilos === 0 ? "-" : kilos }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Boca/bultos" prop="bultos" [width]="80" [sortable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        <div>
          <span style="white-space: nowrap">Boca/</span>
          <br />
          <span style="white-space: nowrap">bultos</span>
        </div>
      </ng-template>
      <ng-template let-bultos="value" ngx-datatable-cell-template>
        <div>
          {{ bultos === 0 ? "-" : bultos }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Declarado" prop="valorDeclarado" [width]="125" [sortable]="false">
      <ng-template let-valorDeclarado="value" ngx-datatable-cell-template>
        <div>
          {{ valorDeclarado === 0 ? "-" : valorDeclarado }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Remitente" prop="expand.remitente.nombre" [width]="125">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row.expand?.remitente?.nombre }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Destinatario" prop="expand.destinatario.nombre" [width]="125">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row.expand?.destinatario?.nombre }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Direccion" prop="expand.destinatario.direccion" [width]="125">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row.expand?.destinatario?.direccion }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Observacion" prop="expand.destinatario.observacion" [width]="125">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row.expand?.destinatario?.observacion }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Horarios" prop="expand.destinatario.horarios" [width]="125">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row.expand?.destinatario?.horarios }}
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>


</div>