<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="invoice-list-wrapper">
      <div
        class="mb-1"
        style="color: #e04141; font-weight: 600; font-size: 20px"
      >
        Choferes
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div class="d-flex align-items-center">
                <label class="d-flex align-items-center"
                  >Mostrar
                  <select
                    class="form-control mx-25"
                    [(ngModel)]="page.size"
                    (change)="onPageSizeChange()"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
                <button
                  class="btn btn-primary ml-2"
                  routerLink="/proveedores/detallechofer/add/0"
                  rippleEffect
                >
                  + Agregar
                </button>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 col-12 d-flex justify-content-start justify-content-md-end align-items-center offset-lg-2"
          >
            <div class="row pb-1 pb-md-0 align-items-center w-100">
              <div class="col-10 col-md-6 pr-0">
                <label class="d-flex align-items-center mb-0 ml-1 ml-md-0"
                  ><input
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    type="search"
                    class="form-control"
                    placeholder="Buscar..."
                    (keyup)="filterUpdateKeyUp($event)"
                    (search)="filterUpdate($event)"
                /></label>
              </div>
            </div>
          </div>
        </div>
        <ngx-datatable
          [rows]="choferes"
          rowHeight="auto"
          class="bootstrap core-bootstrap"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
          [limit]="page.size"
          [externalPaging]="true"
          [count]="page.count"
          [offset]="page.offset"
          (page)="onPage($event)"
        >
          <ngx-datatable-column name="Nombre" prop="nombre" [width]="125">
            <ng-template let-nombre="value" ngx-datatable-cell-template>
              <div>
                {{ nombre }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Proveedor" prop="expand.proveedor.nombre" [width]="125">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                {{ row.expand.proveedor.nombre }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acciones" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <a
                  class="mr-1"
                  routerLink="/proveedores/detallechofer/ver/{{ row.id }}"
                  container="body"
                  placement="top"
                  ngbTooltip="Ver"
                  ><i size="18" data-feather="eye"></i
                ></a>
                <a
                  class="mr-1"
                  routerLink="/proveedores/detallechofer/edit/{{ row.id }}"
                  container="body"
                  placement="top"
                  ngbTooltip="Editar"
                  ><i size="18" data-feather="edit"></i
                ></a>

                <a
                  class="mr-1"
                  href="javascript:void(0)"
                  (click)="ConfirmDeleteOpen(row.id)"
                  container="body"
                  placement="top"
                  ngbTooltip="Eliminar"
                  ><i size="18" data-feather="trash"></i
                ></a>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
  </div>
</div>
