<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="card">
            <div class="card-body pb-1">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h3>Saldo: {{saldo}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-6">
                            <label for="desc">Descripcion</label>
                            <input
                                class="form-control"
                                [(ngModel)]="descripcion"
                                id="desc"
                                name="desc"
                            />
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-6">
                            <div class="form-group">
                                <label for="fecha">Fecha*</label>
                                <input
                                    class="form-control"
                                    [(ngModel)]="fecha"
                                    id="fecha"
                                    name="fecha"
                                    type="date"
                                    (change)="validarCampo('FECHA')"
                                />
                                <span
                                    *ngIf="malfecha"
                                    class="form-text text-danger"
                                >
                                    Debe seleccionar la fecha
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="importe">Importe</label>
                            <input
                                class="form-control"
                                [(ngModel)]="importe"
                                id="importe"
                                name="importe"
                                type="number"
                            /> 
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-6">
                            <label for="unidad">Unidad</label>
                            <ng-select
                                [(ngModel)]="unidad"
                                id="unidad"
                                name="unidad"
                                (change)="validarCampo('UNIDAD')"
                            >
                                <ng-option
                                    *ngFor="let option of unidades"
                                    [value]="option.id"
                                >
                                    {{ option.nombre }}
                                </ng-option>
                            </ng-select>
                            <span
                                *ngIf="malunidad"
                                class="form-text text-danger"
                            >
                                Debe seleccionar la unidad
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="bancoorigen">Banco origen</label>
                            <ng-select
                                [(ngModel)]="bancoorigen"
                                id="bancoorigen"
                                name="bancoorigen"
                                (change)="validarCampo('BANCOORI')"
                            >
                                <ng-option
                                    *ngFor="let option of bancos"
                                    [value]="option.id"
                                >
                                    {{ option.nombre }}
                                </ng-option>
                            </ng-select>
                            <span
                                *ngIf="malbancoori"
                                class="form-text text-danger"
                            >
                                Debe seleccionar el banco de origen
                            </span>
                        </div>
                        <div class="col-6">
                            <label for="bancodestino">Banco de destino</label>
                            <ng-select
                                [(ngModel)]="bancodestino"
                                id="bancodestino"
                                name="bancodestino"
                                (change)="validarCampo('BANCODEST')"
                            >
                                <ng-option
                                    *ngFor="let option of bancos"
                                    [value]="option.id"
                                >
                                    {{ option.nombre }}
                                </ng-option>
                            </ng-select>
                            <span
                                *ngIf="malbancodest"
                                class="form-text text-danger"
                            >
                                Debe seleccionar el banco de destino
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="alias">Alias</label>
                            <input
                                class="form-control"
                                [(ngModel)]="alias"
                                id="alias"
                                name="alias"
                                
                            />
                        </div>
                        <div class="col-6">
                            <label for="cbu">CBU</label>
                            <input
                                class="form-control"
                                [(ngModel)]="cbu"
                                id="cbu"
                                name="cbu"
                                
                            />
                        </div>
                    </div>
                    <div class="row">
                        <button    
                            class="btn btn-primary m-1"
                            [ngClass]="botonhabilitado?'cursor-pointer':'cursor-not-allowed'"
                            rippleEffect
                            [disabled] = "!botonhabilitado"
                            (click)="guardarTransfer()"
                        >
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
