<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="mb-1" style="color: #e04141; font-weight: 600; font-size: 20px">
            Crear orden de pago
        </div>
        <section id="basic-tabs-components">
            <div class="card pt-1">
                <div class="d-flex justify-content-between align-items-center m-1">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-outline-secondary float-right" rippleEffect href="/pagos/hrs">Volver</a>
                    </div>
                </div>
                <ul ngbNav #navWithIcons="ngbNav" [(activeId)]="tab" class="nav-tabs ml-1 mb-0"
                    (navChange)="onNavChange($event)">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink> Datos básicos</a>
                        <ng-template ngbNavContent>
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-flex justify-content-between align-items-center m-1">
                                            <div class="d-flex align-items-center">
                                                <a class="btn  btn-primary float-left" rippleEffect
                                                    (click)="crearOrden()">Crear orden de pago</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-flex justify-content-between align-items-center m-1">
                                            <div class="d-flex align-items-center">

                                                <a class="btn btn-outline-secondary float-right" rippleEffect
                                                    (click)="vistaXCL(true)">Vista previa
                                                    excel</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <h4 *ngIf="responsable">Proveedor responsable inscripto</h4>
                                        <h4 *ngIf="!responsable">Proveedor no responsable inscripto</h4>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-2">
                                        <br>
                                        <label for="cboUnidad"> Unidad </label>
                                        <select id="cboUnidad" name="cboUnidad" class="form-control mx-25"
                                            [(ngModel)]="unidad" (change)="onChangeCampo()">
                                            <option *ngFor="let us of unidades" [value]="us.nombre">{{us.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <br>
                                        <label for="mesy"> Nro de orden </label>
                                        <input (input)="onChangeCampo()" [(ngModel)]="numero" name="numero"
                                            type="search" class="form-control" placeholder="Orden pago..." />
                                    </div>
                                    <div class="col-2">
                                        <br>
                                        <label for="nombreprov"> Proveedor </label>
                                        <input [(ngModel)]="nombreproveedor" name="nombreprov" type="text"
                                            class="form-control" placeholder="Proveedor..." />
                                    </div>
                                    <div class="col-2">
                                        <br>
                                        <label for="concepto"> Concepto </label>
                                        <input (change)="onChangeCampo()" [(ngModel)]="concepto" name="concepto"
                                            type="search" class="form-control" placeholder="Concepto..." />
                                    </div>
                                    <div class="col-2">
                                        <br>
                                        <label for="fechapago">Fecha de orden</label>
                                        <input class="form-control" (change)="onChangeCampo()" [(ngModel)]="fechapago"
                                            id="fechapago" name="fechapago" type="date" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <h3>Totales</h3>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-outline-secondary " (click)="verRemitos()">Cacular rentabilidad</button>
                                    </div>
                                </div>
                                <div class="row hidden">
                                    <div class="col-3">
                                        <label for="totalhr"> Total hoja de ruta </label>
                                        <input [(ngModel)]="totalhr" name="totalhr" type="number" class="form-control"
                                            placeholder="Total..." />
                                    </div>
                                    <div class="col-3">
                                        <label for="totalhr"> Total detalles </label>
                                        <input [(ngModel)]="totaldetalles" name="totaldetalles" type="number"
                                            class="form-control" placeholder="Total..." />
                                    </div>
                                    <div class="col-3">
                                        <label for="totalhr"> Total</label>
                                        <input (change)="onChangeCampo()" [(ngModel)]="total" name="total" type="number"
                                            class="form-control" placeholder="Total..." />
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-3">
                                        <h3>Total hojas de ruta:$ {{formatPeso(totalhr)}}</h3>
                                    </div>
                                    <div class="col-3">
                                        <h3>Total detalles:$ {{formatPeso(totaldetalles)}}</h3>
                                    </div>
                                    <div class="col-3">
                                        <h3>Total:$ {{formatPeso(total)}}</h3>
                                    </div>
                                    <div class="col-3">
                                        <h3>Total IVA:$ {{formatPeso(totaliva)}}</h3>
                                    </div>
                                </div>
                                <div class="row mt-1">


                                    <div class="col-3">
                                        <h3>Rentabilidad absoluta: {{formatPeso(rentabilidadabsoluta)}}</h3>
                                    </div>
                                    <div class="col-3">
                                        <h3>Rentabilidad: {{rentabilidad}}</h3>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Detalles</a>
                        <ng-template ngbNavContent>
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        <br>
                                        <label for="desc"> Descripcion </label>
                                        <input [(ngModel)]="descripciondetalle" name="desc" type="search"
                                            class="form-control" placeholder="Descripcion..." />
                                    </div>
                                    <div class="col-3">
                                        <br>
                                        <label for="tot"> Total </label>
                                        <input [(ngModel)]="totaldetalle" name="tot" type="number" class="form-control"
                                            placeholder="Total..." />
                                    </div>
                                    <div class="col-2">
                                        <br>
                                        <br>
                                        <a class="btn btn-outline-secondary float-right" rippleEffect
                                            (click)="addDetalle()">Agregar
                                            detalle</a>
                                    </div>
                                </div>
                                <br>
                                <ngx-datatable [rows]="rowsdetalles" rowHeight="auto" class="bootstrap core-bootstrap"
                                    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                                    [scrollbarH]="true" [limit]="50" [externalPaging]="true"
                                    [count]="rowsdetalles.length" [offset]="0">
                                    <ngx-datatable-column name="Acciones" [width]="50" [sortable]="false">
                                        <ng-template ngx-datatable-cell-template let-row="row">
                                            <div class="d-flex align-items-center col-actions">
                                                <div ngbDropdown container="body">
                                                    <button ngbDropdownToggle type="button"
                                                        class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                        <i data-feather="more-vertical" size="18"
                                                            class="cursor-pointer"></i>
                                                    </button>
                                                    <div ngbDropdownMenu>
                                                        <a href="javascript:void(0)" ngbDropdownItem
                                                            (click)="quitarDetalle(row.indice)"><i data-feather="trash"
                                                                class="mr-1"></i>Quitar detalle</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Desc" prop="descripcion" [width]="125">
                                        <ng-template let-descripcion="value" ngx-datatable-cell-template>
                                            <div>
                                                {{ descripcion }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Total" prop="total" [width]="125">
                                        <ng-template let-total="value" ngx-datatable-cell-template>
                                            <div>
                                                {{ total }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>Hojas de ruta</a>
                        <ng-template ngbNavContent>
                            <div class="container">

                                <div class="row">
                                    <div class="col-2">
                                        <br>
                                        <div class="d-flex justify-content-between align-items-center m-1">
                                            <div class="d-flex align-items-center">
                                                <label class="d-flex align-items-center">Mostrar
                                                    <select class="form-control mx-25" [(ngModel)]="page.size"
                                                        (change)="onPageSizeChange()">
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ngx-datatable [rows]="datapagar" rowHeight="auto" class="bootstrap core-bootstrap mt-1"
                                    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                                    [scrollbarH]="true" [limit]="page.size" [externalPaging]="true" [count]="page.count"
                                    [offset]="page.offset" (page)="onPage($event)">
                                    <ngx-datatable-column name="Acciones" [width]="50" [sortable]="false">
                                        <ng-template ngx-datatable-cell-template let-row="row">
                                            <div class="d-flex align-items-center col-actions">
                                                <div ngbDropdown container="body">
                                                    <button ngbDropdownToggle type="button"
                                                        class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                        <i data-feather="more-vertical" size="18"
                                                            class="cursor-pointer"></i>
                                                    </button>
                                                    <div ngbDropdownMenu>
                                                        <a href="javascript:void(0)" ngbDropdownItem
                                                            (click)="quitarHR(row.id)">
                                                            <i data-feather="minus-circle" class="mr-1"></i>
                                                            Quitar hoja de ruta
                                                        </a>
                                                        <a href="javascript:void(0)" ngbDropdownItem
                                                            (click)="detalle(row.id,modalDetalleHR2)"><i
                                                                data-feather="eye" class="mr-1"></i>Detalle</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Estado" prop="estado" [width]="110">
                                        <ng-template let-estado="value" ngx-datatable-cell-template>
                                            <div>
                                                {{ getEstadoNombre(estado) }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Con orden" prop="pago" [width]="110">
                                        <ng-template let-pago="value" ngx-datatable-cell-template>
                                            <div>
                                                {{ pago==""?"No":"Sí" }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Numero" prop="codigo" [width]="110">
                                        <ng-template let-codigo="value" ngx-datatable-cell-template>
                                            <div>
                                                {{ codigo }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Total prov" prop="totalproveedor" [width]="110">
                                        <ng-template let-totalproveedor="value" ngx-datatable-cell-template>
                                            <div>
                                                {{ totalproveedor }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Fecha Entre" prop="fechaentrega" [width]="110">
                                        <ng-template let-fechaentrega="value" ngx-datatable-cell-template>
                                            <div>
                                                {{ fechaentrega | date : "dd/MM/yyyy"}}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Proveedor" prop="expand.proveedor.nombre" [width]="125">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div>
                                                {{ row.expand?.proveedor?.nombre }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Chofer" prop="expand.chofer.nombre" [width]="125">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div>
                                                {{ row.expand?.chofer?.nombre }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Vehiculo" prop="expand.vehiculo.nombre" [width]="125">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div>
                                                {{ row.expand?.vehiculo?.nombre }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                        <a ngbNavLink>Remitos</a>
                        <ng-template ngbNavContent>
                            <div class="container">
                                <div class="row mt-1">

                                    <div class="col-3">
                                        <button class="btn btn-outline-secondary " (click)="verRemitos()">Ver
                                            remitos</button>
                                    </div>

                                </div>
                                <div class="row mt-1">


                                    <div class="col-3">
                                        <h3>Total remitos: {{formatPeso(totalremitos)}}</h3>
                                    </div>
                                    <div class="col-3">
                                        <h3>Total kilos: {{redondear(kilos)}}</h3>
                                    </div>
                                    <div class="col-3">
                                        <h3>Total bultos: {{redondear(bultos)}}</h3>
                                    </div>
                                    <div class="col-3">
                                        <h3>Total declarado: {{formatPeso(declarado)}}</h3>
                                    </div>

                                </div>
                                <div class="row" *ngIf="remitos.length>0">
                                    <div class="col-12">
                                        <ngx-datatable [rows]="remitos" rowHeight="auto"
                                            class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                                            [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
                                            [limit]="remitos.length" [externalPaging]="true" [count]="remitos.length"
                                            [offset]="0">
                                            <ngx-datatable-column name="RTO" prop="nroRemito" [width]="125">
                                                <ng-template let-nroRemito="value" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ nroRemito }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Fecha ingreso" prop="fechaIngreso"
                                                [width]="110">
                                                <ng-template let-column="column" ngx-datatable-header-template>
                                                    <div>
                                                        <span style="white-space: nowrap">Fecha</span>
                                                        <br />
                                                        <span style="white-space: nowrap">ingreso</span>
                                                    </div>
                                                </ng-template>
                                                <ng-template let-fechaIngreso="value" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ fechaIngreso | date : "dd/MM/yyyy" }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Fecha entra" prop="fechaEntrega" [width]="110">
                                                <ng-template let-column="column" ngx-datatable-header-template>
                                                    <div>
                                                        <span style="white-space: nowrap">Fecha</span>
                                                        <br />
                                                        <span style="white-space: nowrap">entrega</span>
                                                    </div>
                                                </ng-template>
                                                <ng-template let-fechaEntrega="value" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ fechaEntrega | date : "dd/MM/yyyy" }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="total" prop="totalViaje" [width]="80"
                                                [sortable]="false">
                                                <ng-template let-totalViaje="value" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ totalViaje === 0 ? "-" : totalViaje }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="KG" prop="kilos" [width]="80"
                                                [sortable]="false">
                                                <ng-template let-kilos="value" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ kilos === 0 ? "-" : kilos }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Boca/bultos" prop="bultos" [width]="80"
                                                [sortable]="false">
                                                <ng-template let-column="column" ngx-datatable-header-template>
                                                    <div>
                                                        <span style="white-space: nowrap">Boca/</span>
                                                        <br />
                                                        <span style="white-space: nowrap">bultos</span>
                                                    </div>
                                                </ng-template>
                                                <ng-template let-bultos="value" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ bultos === 0 ? "-" : bultos }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Declarado" prop="valorDeclarado" [width]="80"
                                                [sortable]="false">
                                                <ng-template let-valorDeclarado="value" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ valorDeclarado === 0 ? "-" : valorDeclarado }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Remitente" prop="expand.remitente.nombre"
                                                [width]="125">
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ row.expand?.remitente?.nombre }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Destinatario" prop="expand.destinatario.nombre"
                                                [width]="125">
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ row.expand?.destinatario?.nombre }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Observacion"
                                                prop="expand.destinatario.observacion" [width]="125">
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    <div>
                                                        {{ row.expand?.destinatario?.observacion }}
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
            </div>
        </section>

    </div>
</div>
<!--Modal detalles orden pago-->
<ng-template #modalDetalle let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Detalles orden de pago</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="col-xl-12 col-md-12 col-12">

            <div class="container">

            </div>
        </div>
    </div>
</ng-template>
<!--fin Modal ordenes-->
<!--Modal editar hr-->
<ng-template #modalDetalleHR2 let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Detalle de hoja de ruta</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body container row" tabindex="0" ngbAutofocus>
        <div class="col-xl-12 col-md-12 col-12">
            <app-detallehr [idhr]="idhr" (cerrarModalEvent)="editarHR($event)" (editarModalEvent)="editarHR($event)"></app-detallehr>
        </div>
    </div>
</ng-template>
<!--Fin Modal editar hr-->