<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="mb-1" style="color: #e04141; font-weight: 600; font-size: 20px">
            Preventas
        </div>
        <section class="invoice-list-wrapper">
            <div class="card">
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center m-1">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-primary ml-2" (click)="openModal(modalFactura)">
                                Crear factura
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-10 col-md-10">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <div class="d-flex align-items-center">
                                <label class="d-flex align-items-center">Mostrar
                                    <select class="form-control mx-25" [(ngModel)]="page.size"
                                        (change)="onPageSizeChange()">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>

                            </div>
                            <div>
                                <a (click)="exportarXLSX()" class="btn btn-outline-secondary float-right"
                                    rippleEffect>Exportar remitos selecionados</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-start">
                    <div
                        class="col-lg-12 col-md-12 col-12 d-flex justify-content-start flex-column flex-md-row justify-content-md-start align-items-center mt-1">

                        <div class="col-lg-2 col-md-2 mb-1 pt-1">
                            <ng2-flatpickr [config]="DateRangeOptions" name="fecha" #fechaPicker
                                placeholder="Fecha de ingreso" (change)="onChangeFecha()"></ng2-flatpickr>
                            <button *ngIf="selectedDates[0] && selectedDates[1]" class="btn btn-link position-absolute"
                                style="right: 3px; top: 50%; transform: translateY(-50%)" (click)="clearDates()">
                                <i size="12" data-feather="x"></i>
                            </button>
                        </div>
                        <div class="col-2 mb-1">
                            <label for="name"> Estado</label>
                            <ng-select [(ngModel)]="selectedStatus" bindLabel="name" placeholder="Estado"
                                (change)="filterByStatus($event)">
                                <ng-option *ngFor="let option of estadoOptions" [value]="option.id">
                                    {{ option.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="col-2 mb-1">
                            <label for="name"> Facturados</label>
                            <ng-select [(ngModel)]="opcionFacturar" bindLabel="name" placeholder="Facturado"
                                (change)="filterUpdate($event)">
                                <ng-option *ngFor="let option of opcionesFacturar" [value]="option.id">
                                    {{ option.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="col-3 mb-1">
                            <div>
                                <a (click)="calcularTotal()" class="btn btn-outline-secondary float-right"
                                    rippleEffect>Calcular total
                                    peso y viajes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-start my-1 mx-1">
                    <div class="col-3">
                        <label for="nro"> Nro remito </label>
                        <input [(ngModel)]="nro" name="nro" type="search" class="form-control" placeholder="Buscar..."
                            (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-3">
                        <label for="cboCliente"> Cliente </label>
                        <select id="cboCliente" name="cboCliente" class="form-control mx-25" [(ngModel)]="cliente"
                            (change)="onChangeCliente()">
                            <option value="">Todos</option>
                            <option *ngFor="let est of clientes" [value]="est.id">{{est.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="searchValue"> Destinatario </label>
                        <input [(ngModel)]="nombreDestinatario" name="nombreDestinatario" type="search"
                            class="form-control" placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                    <div class="col-3">
                        <label for="searchValue"> Remitente </label>
                        <input [(ngModel)]="nombreRemitente" name="nombreRemitente" type="search" class="form-control"
                            placeholder="Buscar..." (change)="filterUpdate($event)" />
                    </div>
                </div>
                <div class="row my-1 mx-1">
                    <div class="col-6">
                        <h2>Total: {{formatDinero(total)}}</h2>
                    </div>
                    <div class="col-6">
                        <h2>Total kilos: {{piso(totalkilos)}}</h2>
                    </div>
                </div>
                <div class="my-1 row d-flex justify-content-start px-1">
                    <div class="col-3">
                        <span>Seleccionados: {{seleccionados.length}}</span>

                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-secondary " rippleEffect (click)="seleccionarTodos()">
                            <span>Seleccionar todos</span>
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-secondary " rippleEffect (click)="quitarTodos()">
                            <span>Quitar todos</span>
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-secondary " rippleEffect (click)="toggleSecond()">
                            <span *ngIf="!secondPart">Ver tabla tarifas</span>
                            <span *ngIf="secondPart">Cerrar tabla tarifas</span>
                        </button>
                    </div>
                </div>
                <div *ngIf="!secondPart">
                    <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap"
                        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
                        [limit]="page.size" [externalPaging]="true" [count]="page.count" [offset]="page.offset"
                        (page)="onPage($event)">
                        <!-- [selectionType]="SelectionType.checkbox" -->

                        <ngx-datatable-column name="Elegir" [width]="70" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false">

                            <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-row="row"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                        [checked]="estaEnFacturar(row.id)" (change)="onCheckboxChange(row)"
                                        id="rowChkbxRef{{ row.id }}" [disabled]="row.factura.length>0" />

                                    <label class="custom-control-label" for="rowChkbxRef{{ row.id }}"></label>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Con Factura" prop="factura" [width]="60">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Con</span>
                                    <br />
                                    <span style="white-space: nowrap">Fact</span>
                                </div>
                            </ng-template>
                            <ng-template let-factura="value" ngx-datatable-cell-template>
                                <div>
                                    {{ factura!=''?"Si":"No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha ingreso" prop="fechaIngreso" [width]="110">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Fecha</span>
                                    <br />
                                    <span style="white-space: nowrap">ingreso</span>
                                </div>
                            </ng-template>
                            <ng-template let-fechaIngreso="value" ngx-datatable-cell-template>
                                <div>
                                    {{ fechaIngreso | date : "dd/MM/yyyy" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Cliente" prop="expand.cliente.nombre" [width]="110">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.cliente?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="RTO" prop="nroRemito" [width]="110">
                            <ng-template let-nroRemito="value" ngx-datatable-cell-template>
                                <div>
                                    {{ nroRemito }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="KG" prop="kilos" [width]="70" [sortable]="false">
                            <ng-template let-kilos="value" ngx-datatable-cell-template>
                                <div>
                                    {{ kilos === 0 ? "-" : kilos }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Boca/bultos" prop="bultos" [width]="70" [sortable]="false">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Boca/</span>
                                    <br />
                                    <span style="white-space: nowrap">bultos</span>
                                </div>
                            </ng-template>
                            <ng-template let-bultos="value" ngx-datatable-cell-template>
                                <div>
                                    {{ bultos === 0 ? "-" : bultos }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Remitente" prop="expand.remitente.nombre" [width]="110">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.remitente?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Destinatario" prop="expand.destinatario.nombre" [width]="110">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div *ngIf="row.expand.destinatario.importancia==0;else other_content">
                                    <span>{{row.expand?.destinatario?.nombre}}</span>
                                </div>

                                <ng-template #other_content>
                                    <strong style="color: #e04141;">
                                        {{ row.expand?.destinatario?.nombre.toUpperCase() }}
                                    </strong>
                                </ng-template>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Localidad" prop="expand.destinatario.expand.localidad.nombre"
                            [width]="110">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.destinatario?.expand?.localidad?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="estado" prop="expand.estado.nombre" [width]="100">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="badge badge-pill" [ngClass]="{
                                        'badge-light-warning':
                                            row.expand?.estado?.nombre == 'Pendiente',
                                                'badge-blue': row.expand?.estado?.nombre == 'Tránsito',
                                        'badge-light-danger':
                                            row.expand?.estado?.nombre == 'Rechazado',
                                        'badge-danger': row.expand?.estado?.nombre == 'Cancelado',
                                'badge-danger': row.expand?.estado?.nombre == 'Anulado',
                                        'badge-light-success':
                                            row.expand?.estado?.nombre == 'Entregado'
                                        }">
                                    {{ row.expand?.estado?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Conf." prop="confirmado" [width]="60" [sortable]="false">
                            <ng-template let-confirmado="value" ngx-datatable-cell-template>
                                <div>
                                    {{ confirmado ? "Sí" : "No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Reub." prop="reubicado" [width]="60" [sortable]="false">
                            <ng-template let-reubicado="value" ngx-datatable-cell-template>
                                <div>
                                    {{ reubicado ? "Sí" : "No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="A Fact." prop="facturar" [width]="60" [sortable]="false">
                            <ng-template let-facturar="value" ngx-datatable-cell-template>
                                <div>
                                    {{ facturar ? "Sí" : "No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Fecha entrega" prop="fechaEntrega" [width]="110">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Fecha</span>
                                    <br />
                                    <span style="white-space: nowrap">entrega</span>
                                </div>
                            </ng-template>
                            <ng-template let-fechaEntrega="value" ngx-datatable-cell-template>
                                <div>
                                    {{ fechaEntrega | date : "dd/MM/yyyy" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Observaciones" prop="observacioncorto" [sortable]="false"
                            [width]="200">
                            <ng-template let-observacioncorto="value" ngx-datatable-cell-template>
                                <div>
                                    {{ observacioncorto }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Novedades" prop="novedad" [width]="160" [sortable]="false">
                            <ng-template let-novedad="value" ngx-datatable-cell-template>
                                <div>
                                    {{ novedad }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="% cobro" prop="porcentajeCobro" [width]="125">
                            <ng-template let-porcentajeCobro="value" ngx-datatable-cell-template>
                                <div>
                                    {{
                                    !porcentajeCobro || porcentajeCobro === 0
                                    ? "-"
                                    : porcentajeCobro + " %"
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Valor Declarado" prop="valorDeclarado" [width]="125">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Valor</span>
                                    <br />
                                    <span style="white-space: nowrap">declarado</span>
                                </div>
                            </ng-template>
                            <ng-template let-valorDeclarado="value" ngx-datatable-cell-template>
                                <div>
                                    {{
                                    !valorDeclarado || valorDeclarado === 0
                                    ? "-"
                                    : "$ " + (valorDeclarado | number : "1.2-2")
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Precio unitario" prop="precioUnitario" [width]="125">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Precio</span>
                                    <br />
                                    <span style="white-space: nowrap">unitario</span>
                                </div>
                            </ng-template>
                            <ng-template let-precioUnitario="value" ngx-datatable-cell-template>
                                <div>
                                    {{
                                    !precioUnitario || precioUnitario === 0
                                    ? "-"
                                    : "$ " + (precioUnitario | number : "1.2-2")
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Total" prop="totalViaje" [width]="125">
                            <ng-template let-totalViaje="value" ngx-datatable-cell-template>
                                <div>
                                    {{
                                    !totalViaje || totalViaje === 0
                                    ? "-"
                                    : "$ " + (totalViaje | number : "1.2-2")
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Facturar" prop="facturar" [width]="100" [sortable]="false">
                            <ng-template let-facturar="value" ngx-datatable-cell-template>
                                <div>
                                    {{ facturar ? "Sí" : "No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Etiqueta" prop="etiqueta" [width]="125">
                            <ng-template let-etiqueta="value" ngx-datatable-cell-template>
                                <div>
                                    {{ etiqueta }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="forma de pago" prop="expand.cliente.expand.formaPago.nombre"
                            [width]="125">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Forma de</span>
                                    <br />
                                    <span style="white-space: nowrap">pago</span>
                                </div>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.cliente?.expand?.formaPago?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>

                <div *ngIf="secondPart">
                    <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap"
                        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
                        [limit]="page.size" [externalPaging]="true" [count]="page.count" [offset]="page.offset"
                        (page)="onPage($event)">
                        <!-- [selectionType]="SelectionType.checkbox" -->

                        <ngx-datatable-column name="Elegir" [width]="70" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false">

                            <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-row="row"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                        [checked]="estaEnFacturar(row.id)" (change)="onCheckboxChange(row)"
                                        id="rowChkbxRef{{ row.id }}" [disabled]="row.factura.length>0" />

                                    <label class="custom-control-label" for="rowChkbxRef{{ row.id }}"></label>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha entrega" prop="fechaEntrega" [width]="110">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Fecha</span>
                                    <br />
                                    <span style="white-space: nowrap">entrega</span>
                                </div>
                            </ng-template>
                            <ng-template let-fechaEntrega="value" ngx-datatable-cell-template>
                                <div>
                                    {{ fechaEntrega | date : "dd/MM/yyyy" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Observaciones" prop="observacioncorto" [sortable]="false"
                            [width]="200">
                            <ng-template let-observacioncorto="value" ngx-datatable-cell-template>
                                <div>
                                    {{ observacioncorto }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Novedades" prop="novedad" [width]="160" [sortable]="false">
                            <ng-template let-novedad="value" ngx-datatable-cell-template>
                                <div>
                                    {{ novedad }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="% cobro" prop="porcentajeCobro" [width]="125">
                            <ng-template let-porcentajeCobro="value" ngx-datatable-cell-template>
                                <div>
                                    {{
                                    !porcentajeCobro || porcentajeCobro === 0
                                    ? "-"
                                    : porcentajeCobro + " %"
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Valor Declarado" prop="valorDeclarado" [width]="125">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Valor</span>
                                    <br />
                                    <span style="white-space: nowrap">declarado</span>
                                </div>
                            </ng-template>
                            <ng-template let-valorDeclarado="value" ngx-datatable-cell-template>
                                <div>
                                    {{
                                    !valorDeclarado || valorDeclarado === 0
                                    ? "-"
                                    : "$ " + (valorDeclarado | number : "1.2-2")
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Precio unitario" prop="precioUnitario" [width]="125">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Precio</span>
                                    <br />
                                    <span style="white-space: nowrap">unitario</span>
                                </div>
                            </ng-template>
                            <ng-template let-precioUnitario="value" ngx-datatable-cell-template>
                                <div>
                                    {{
                                    !precioUnitario || precioUnitario === 0
                                    ? "-"
                                    : "$ " + (precioUnitario | number : "1.2-2")
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Total" prop="totalViaje" [width]="125">
                            <ng-template let-totalViaje="value" ngx-datatable-cell-template>
                                <div>
                                    {{
                                    !totalViaje || totalViaje === 0
                                    ? "-"
                                    : "$ " + (totalViaje | number : "1.2-2")
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Facturar" prop="facturar" [width]="100" [sortable]="false">
                            <ng-template let-facturar="value" ngx-datatable-cell-template>
                                <div>
                                    {{ facturar ? "Sí" : "No" }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Etiqueta" prop="etiqueta" [width]="125">
                            <ng-template let-etiqueta="value" ngx-datatable-cell-template>
                                <div>
                                    {{ etiqueta }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="forma de pago" prop="expand.cliente.expand.formaPago.nombre"
                            [width]="125">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div>
                                    <span style="white-space: nowrap">Forma de</span>
                                    <br />
                                    <span style="white-space: nowrap">pago</span>
                                </div>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand?.cliente?.expand?.formaPago?.nombre }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Responsable" prop="expand.responsable.username" [width]="175">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ row.expand.responsable.username }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>

            </div>
        </section>
    </div>
</div>
<!--Modal facturar-->
<ng-template #modalFactura let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel161">Facturar</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="col-xl-12 col-md-12 col-12">
            <ul ngbNav #navWithIcons="ngbNav" [(activeId)]="tab" class="nav-tabs ml-1 mb-0"
                (navChange)="onNavChange($event)">
                <li [ngbNavItem]="1">
                    <a ngbNavLink> Datos básicos</a>
                    <ng-template ngbNavContent>
                        <h3>Se va a crear una factura con {{seleccionados.length}} {{seleccionados.length==1?" remito":"
                            remitos"}}</h3>
                        <form class="form-horizontal" #facturaForm="ngForm">
                            <div class="m-0">
                                <div class="row">
                                    <div class="col-6">
                                        <h4> Total viajes: {{formatDinero(totalViajes)}} </h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="custom-control custom-control-primary custom-switch mb-1">
                                            <label class="font-weight-bolder">Concepto: </label>
                                            <input [(ngModel)]="concept" name="concept" type="text" class="form-control"
                                                placeholder="Escriba el concepto..." />
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <label for="clienteSelect"> Cliente a facturar </label>
                                        <select id="clienteSelect" name="clienteSelect" class="form-control mx-25"
                                            [(ngModel)]="clienteSelect">
                                            <option value="">Todos</option>
                                            <option *ngFor="let est of clientes" [value]="est.id">{{est.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row hidden">
                                    <div class="col-3">

                                        <label for="cboUnidad"> Unidad </label>
                                        <select id="cboUnidad" name="cboUnidad" class="form-control mx-25"
                                            [(ngModel)]="unidadSelect">
                                            <option *ngFor="let us of unidades" [value]="us.nombre">{{us.nombre}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 d-flex flex-sm-row flex-column mt-2 m-6 mb-2 justify-content-end">
                                <button type="button" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect
                                    (click)="facturar()">
                                    Confirmar
                                </button>
                                <button type="button" class="btn btn-outline-secondary" rippleEffect
                                    (click)="cerrarModal()">
                                    Cancelar
                                </button>
                            </div>
                        </form>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Detalles</a>
                    <ng-template ngbNavContent>
                        <h3>Se va a crear una factura con {{detalles.length}} detalles</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <br>
                                    <label for="desc"> Descripcion </label>
                                    <input [(ngModel)]="descripcion" name="desc" type="search" class="form-control"
                                        placeholder="Descripcion..." />
                                </div>
                                <div class="col-3">
                                    <br>
                                    <label for="tot"> Total </label>
                                    <input [(ngModel)]="totaldetalle" name="tot" type="number" class="form-control"
                                        placeholder="Total..." />
                                </div>
                                <div class="col-2">
                                    <br>
                                    <br>
                                    <a class="btn btn-outline-secondary float-right" rippleEffect
                                        (click)="addDetalle()">Agregar
                                        detalle</a>
                                </div>
                            </div>
                            <br>
                            <ngx-datatable [rows]="detalles" rowHeight="auto" class="bootstrap core-bootstrap"
                                [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                                [scrollbarH]="true" [limit]="50" [externalPaging]="true" [count]="detalles.length"
                                [offset]="0">
                                <ngx-datatable-column name="Acciones" [width]="50" [sortable]="false">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <div class="d-flex align-items-center col-actions">
                                            <div ngbDropdown container="body">
                                                <button ngbDropdownToggle type="button"
                                                    class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                    <i data-feather="more-vertical" size="18"
                                                        class="cursor-pointer"></i>
                                                </button>
                                                <div ngbDropdownMenu>
                                                    <a href="javascript:void(0)" ngbDropdownItem
                                                        (click)="quitarDetalle(row.indice)"><i data-feather="trash"
                                                            class="mr-1"></i>Quitar detalle</a>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Desc" prop="descripcion" [width]="125">
                                    <ng-template let-descripcion="value" ngx-datatable-cell-template>
                                        <div>
                                            {{ descripcion }}
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Total" prop="total" [width]="125">
                                    <ng-template let-total="value" ngx-datatable-cell-template>
                                        <div>
                                            {{ total }}
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>

        </div>
    </div>
</ng-template>